@import 'src/styles.scss';

#main-card {
  margin: 1px;
}

#main-card:hover {
  margin: 0;
  border-left: 1px solid $dark !important;
  border-right: 1px solid $dark !important;
  border-bottom: 1px solid $dark !important;
}

.img {
  height: auto;
  max-width: 100%
}

#userName {
  color: $primary;
}

.chartcard-body {
  cursor: pointer;
}
