@import 'src/styles.scss';

#main-card {
  margin: 1px;
}

#main-card:hover {
  margin: 0;
  border: 1px solid #007bff !important;
}


.img {
  height: auto;
  max-width: 100%
}

#userName {
  color: $dark-grey;
}

.chartcard-body {
  cursor: pointer;
}
