<div class="card"
     [routerLink]="'/post'">
  <div class="card-header d-flex flex-row align-items-center">
    <h6 class="m-0 mr-auto">{{ userName }}</h6>
    <div class="text-muted ml-auto m-2">
      Timestamp
    </div>
  </div>
  <div class="card-body">
    <div class="text-center py-1">
      <img src="assets/dummy-pics/dummy.jpg"
           alt=""
           class="img-fluid">
    </div>
    <h5 class="card-title">
      {{ post.title }}
    </h5>
    <p class="card-text">
      {{ post.content }}
    </p>
  </div>
</div>
