<div id="card"
     class="shadow bg-white rounded">

  <div *ngIf="isXLScreen"
       class="chartcard-title">
    <h5 class="card-title font-weight-light">Your posts</h5>
  </div>

  <div *ngIf="isXLScreen"
       class="chartcard-body">

       <ul class="list-group list-group-flush">
        <li *ngFor="let post of yourPosts" class="list-group-item p-2 d-flex flex-row align-items-center">
          {{ post.title }}
          <app-social-count class="ml-auto" [postOrComment]="post"></app-social-count>
        </li>
      </ul>

  </div>





  <div *ngIf="!isXLScreen"
       class="d-flex flex-row align-items-center chartcard-title pl-3"
       data-toggle="collapse"
       data-target="#your-posts-body"
       (click)="isToggledOpen = !isToggledOpen"
       [style.cursor]="'pointer'">
    <fa-icon *ngIf="!isToggledOpen"
             icon="chevron-down"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <fa-icon *ngIf="isToggledOpen"
             icon="chevron-up"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <h5 class="card-title font-weight-light">Your posts</h5>
    <hr>
  </div>

  <div *ngIf="!isXLScreen"
       id="your-posts-body"
       class="chartcard-body collapse">

       <ul class="list-group list-group-flush">
        <li *ngFor="let post of yourPosts" class="list-group-item p-2 d-flex flex-row align-items-center">
          {{ post.title }}
          <app-social-count class="ml-auto" [postOrComment]="post"></app-social-count>
        </li>
      </ul>

  </div>


</div>
