<div id="card"
     class="shadow bg-white rounded">

  <div *ngIf="isXLScreen || !collapseable"
       class="chartcard-title">
    <h5 class="card-title font-weight-light">Your posts</h5>
  </div>

  <div *ngIf="isXLScreen || !collapseable"
       class="chartcard-body">

    <ng-container *ngTemplateOutlet="yourPostsList"></ng-container>

  </div>




  <div *ngIf="!isXLScreen && collapseable"
       class="d-flex flex-row align-items-center chartcard-title pl-3"
       data-toggle="collapse"
       data-target="#your-posts-body"
       (click)="isToggledOpen = !isToggledOpen"
       [style.cursor]="'pointer'">
    <fa-icon *ngIf="!isToggledOpen"
             icon="chevron-down"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <fa-icon *ngIf="isToggledOpen"
             icon="chevron-up"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <h5 class="card-title font-weight-light">Your posts</h5>
    <hr>
  </div>

  <div *ngIf="!isXLScreen && collapseable"
       id="your-posts-body"
       class="chartcard-body collapse">

    <ng-container *ngTemplateOutlet="yourPostsList"></ng-container>

  </div>


</div>


<ng-template #noPosts>
  <p class="text-muted text-center my-2">Your posts could not be loaded...</p>
</ng-template>

<ng-template #yourPostsList>
  <ng-container *ngIf="yourPosts$ | async as yourPosts; else noPosts">
    <ul *ngIf="yourPosts.length > 0"
        class="list-group list-group-flush">
      <li *ngFor="let post of yourPosts"
          class="list-group-item list-group-item-action p-2 d-flex flex-row align-items-center"
          (click)="routeToPost(post.getID())">

        <span class="flex-shrink-1">{{ post.title }}</span>

        <div id="social-count"
             class="d-flex align-items-end flex-grow-1">
          <app-social-count [postOrComment]="post"
                            class="ml-auto flex-shrink-1"
                            [liked]="likedOwnPost(post.getID())"
                            (likePressed)="toggleLikeForOwnPost(post.getID())"></app-social-count>
        </div>
      </li>
    </ul>

    <div *ngIf="yourPosts.length === 0"
         class="p-2">
      <p class="m-0 text-muted">You don't have any posts yet.</p>
    </div>
  </ng-container>
</ng-template>
