<div id="card"
     class="shadow bg-white rounded">

  <div *ngIf="isXLScreen"
       class="chartcard-title">
    <h5 class="card-title font-weight-light">Your posts</h5>
  </div>

  <div *ngIf="isXLScreen"
       class="chartcard-body">

    <ng-container *ngIf="yourPosts$ | async as yourPosts; else noPosts">
      <ul class="list-group list-group-flush">
        <li *ngFor="let post of yourPosts"
            class="list-group-item list-group-item-action p-2 d-flex flex-row align-items-center"
            (click)="routeToPost(post.getID())">
          <span class="mr-auto">{{ post.title }}</span>
          <app-social-count [postOrComment]="post"
                            [liked]="likedOwnPost(post.getID())"
                            (likePressed)="toggleLikeForOwnPost(post.getID())"></app-social-count>
        </li>
      </ul>
    </ng-container>
  </div>





  <div *ngIf="!isXLScreen"
       class="d-flex flex-row align-items-center chartcard-title pl-3"
       data-toggle="collapse"
       data-target="#your-posts-body"
       (click)="isToggledOpen = !isToggledOpen"
       [style.cursor]="'pointer'">
    <fa-icon *ngIf="!isToggledOpen"
             icon="chevron-down"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <fa-icon *ngIf="isToggledOpen"
             icon="chevron-up"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <h5 class="card-title font-weight-light">Your posts</h5>
    <hr>
  </div>

  <div *ngIf="!isXLScreen"
       id="your-posts-body"
       class="chartcard-body collapse">

    <ng-container *ngIf="yourPosts$ | async as yourPosts; else noPosts">
      <ul class="list-group list-group-flush">
        <li *ngFor="let post of yourPosts"
            class="list-group-item list-group-item-action p-2 d-flex flex-row align-items-center"
            (click)="routeToPost(post.getID())">
          <span class="mr-auto">{{ post.title }}</span>
          <app-social-count [postOrComment]="post"
                            [liked]="likedOwnPost(post.getID())"
                            (likePressed)="toggleLikeForOwnPost(post.getID())"></app-social-count>
        </li>
      </ul>
    </ng-container>


  </div>


</div>


<ng-template #noPosts>
  <p class="text-muted text-center my-2">Your posts could not be loaded...</p>
</ng-template>
