<ng-container *ngIf="comment$ | async; let comment">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a comment to this thread</h5>
        <button type="button"
                class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">

        <div class="d-flex flex-row">
          <!-- Profile picture -->
          <div class="profile-pic">
            <app-avatar-component [borderActive]="true"
                                  [borderColor]="'grey'"
                                  [size]="1"></app-avatar-component>
          </div>

          <!-- Like & date -->
          <div class="d-flex flex-column px-2 w-100">

            <div class="p-0 d-flex flex-row align-items-center">
              <h6 class="mr-auto">{{ allUsersSvc.getNameOfUser(comment.uid) }}</h6>

              <div class="d-flex flex-row p-0">
                <app-social-count [postOrComment]="comment"></app-social-count>
              </div>
            </div>

            <p>{{ comment.content }}</p>
          </div>
        </div>



      </div>
      <div class="modal-footer spacer d-flex flex-row py-2 px-2">
        <div class="profile-icon align-self-start">
          <app-avatar-component [borderColor]="'grey'"
                                [borderActive]="true"
                                [size]="1"></app-avatar-component>
        </div>

        <form class="form-inline flex-grow-1"
              [formGroup]="commentForm"
              (ngSubmit)="submitComment()">

          <div class="d-flex flex-md-row flex-column flex-grow-1 mr-2">
            <div class="form-group flex-grow-1 m-0">
              <textarea class="form-control flex-grow-1"
                        formControlName="content"
                        rows="3"></textarea>
            </div>

            <button class="btn btn-outline-primary ml-md-2 ml-0 my-md-0 my-2 align-self-end"
                    id="submit-btn"
                    [disabled]="!commentForm.valid"
                    type="submit">
              <fa-icon [icon]="['far', 'comment']"
                       id="submit-btn-icon"></fa-icon>
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</ng-container>
