
$dark-grey: #6c757d !default;
$dark-gray: #6c757d !default;


$medium-dark-grey: #8d9399 !default;
$medium-dark-gray: #8d9399 !default;


$medium-grey: #adb5bd !default;
$medium-gray: #adb5bd !default;

$medium-light-grey: #e9ecef !default;
$medium-light-gray: #e9ecef !default;

$light-grey: #f8f9fa !default;
$light-gray: #f8f9fa !default;



$primary: #fcf75e !default;
$primary-hover: #fbf538 !default;
$primary-lighter: #fcfab1 !default;
$primary-text: #323850 !default;


$secondary: #323850 !default;
$light: #f5f5f5 !default;
$info: #59C3C3 !default;
$info-lighter: #AAE8E8 !default;
$dark: #52489C !default;
$dark-lighter: #52489C42 !default;
$success: #40F99B !default;
$danger: #EF233C !default;

// $theme-colors: (
//     "primary": #fcf75e,
//     "secondary": #323850,
// );

