
$dark-grey: #6c757d !default;
$dark-gray: #6c757d !default;

$light-grey: #f8f9fa !default;
$light-gray: #f8f9fa !default;


$theme-colors: (
    // "primary": #84329b,
    // "secondary": #02bceb,
);

