
$dark-grey: #6c757d !default;
$dark-gray: #6c757d !default;


$medium-dark-grey: #8d9399 !default;
$medium-dark-gray: #8d9399 !default;


$medium-grey: #adb5bd !default;
$medium-gray: #adb5bd !default;

$medium-light-grey: #e9ecef !default;
$medium-light-gray: #e9ecef !default;

$light-grey: #f8f9fa !default;
$light-gray: #f8f9fa !default;


$theme-colors: (
    // "primary": #84329b,
    // "secondary": #02bceb,
);

