/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css"; // Offline bootstrap TODO: remove?


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(245, 245, 245);
}

.mainContainer {
  background-color: skyblue;
  height: 100%;
  margin: 0 50px;
}
