/* You can add global styles to this file, and also import other style files */
// @use "bootstrap.min.css"; // Offline bootstrap TODO: remove?

@import "./myTheme.scss";
@import "~bootstrap/scss/bootstrap";


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(245, 245, 245);
}

.mainContainer {
  background-color: #f5f5f5;
  // background-color: skyblue;
  height: 100%;
  margin: 0 10px;
}

@media (min-width: 576px) {
  .mainContainer {
    background-color: #f5f5f5;
    // background-color: skyblue;
    height: 100%;
    margin: 0 50px;
  }
 }

fa-icon {
  color: $dark-grey;
}
