@import 'src/styles.scss';

#toggle-div {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 12px 20px;
  margin-top: 8px;
  background-color: $light-grey;
}

#toggle-div:hover {
  background-color: $medium-light-grey !important;
}

thead {
  @extend .thead-light;
}
