@import 'src/styles.scss';

#toggle-div {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 12px 20px;
  margin-top: 8px;
  background-color: $secondary;
  color: $primary;
  font-weight: 600;
  vertical-align: middle;

  fa-icon {
    color: $primary;
  }
}

#toggle-div:hover {
  // background-color: $medium-light-grey !important;
  background-color: $secondary-lighter;
}

thead {
  @extend .thead-light;
}
