@import 'src/styles.scss';

:host {
  width: 100%
}

.wrapper {
  width: inherit;
}

app-date-time-range-picker {
  position: absolute;
  top: 134px;
  right: 40px;
  z-index: 2;
}


.list-group {
  margin-top: 36px;
}
