<div class="wrapper px-4 py-2">

  <app-date-time-range-picker class=""
                              #datetimerange
                              [initialDateRange]="[currRange.fromDate, currRange.toDate]"
                              [timeSelectionPossible]="false"
                              (datetimeRangeSelected)="datetimeRangeSelected($event)">
  </app-date-time-range-picker>

  <div #chartWrapper
       class="d-flex flex-column justify-content-center shadow bg-white rounded p-3">

    <div class="list-group list-group-flush">
      <app-day-by-day-stats [id]=1
                            #dayByDay></app-day-by-day-stats>
      <app-metrics-summary [id]=2
                           #metrics></app-metrics-summary>
      <app-per-fuse-stats [id]=3></app-per-fuse-stats>
    </div>

  </div>


</div>
