<div #chartWrapper
     class="d-flex flex-column justify-content-center p-2 position-relative">
  <div id="spinner"
       *ngIf="isLoading"
       class="d-flex justify-content-center align-items-center">
    <app-spinner [color]="'#007bff'"></app-spinner>
  </div>


  <span id="heatmap-tooltip"
        *ngIf="tooltipShown"
        class="rounded">
    <div class="tt-header p-1">
      {{ tooltipTitle }}
    </div>
    <div class="p-1 d-flex">
      <span class="ml-auto">{{ tooltipTextTimerange }}: <b>{{ tooltipTextValue }} kWh</b></span>
    </div>
  </span>


  <div (mouseleave)="tooltipShown = false">
    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [dataLabels]="chartOptions.dataLabels"
               [colors]="chartOptions.colors"
               [xaxis]="chartOptions.xaxis"
               [yaxis]="chartOptions.yaxis"
               [noData]="chartOptions.noData"
               [plotOptions]="chartOptions.plotOptions"
               [tooltip]="chartOptions.tooltip"></apx-chart>

  </div>

  <div class="mt-1">

    <hr class="mt-0">

    <h5 class="ml-3">View circuits:</h5>
    <div class="ml-5 mb-2 d-flex flex-row">
      <button class="btn btn-sm btn-outline-primary mr-2"
              (click)="selectNone()">
        Select none
      </button>
      <button class="btn btn-sm btn-outline-primary"
              (click)="selectAll()">
        Select all
      </button>

    </div>
    <ul class="list-group list-group-flush mx-5">
      <li *ngFor="let circuit of allLabels"
          class="list-group-item p-1 noselect"
          [class.checked]="currLabelsStatus[circuit.label]"
          style="cursor: pointer;"
          (click)="toggleCircuit(circuit.label)">
        <input type="checkbox"
               class="mr-2"
               [checked]="currLabelsStatus[circuit.label]">
        {{ circuit.cleanerName }}
      </li>
    </ul>

  </div>
</div>
