@import 'src/styles.scss';


.wrapper {
  width: inherit;
}

#spinner {
  height: 450px;
}


.hidden {
  display: none;
}



#heatmap-tooltip {
  font-family: inherit;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 10px;
  right: 30px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);
}

#value-tt {
  border-radius: 0.25rem;
  border: 1px solid $info;
  background-color: $info-transp;
  padding: 4px;
}

.checked {
  background-color: $dark-lightest;
}


