@import 'src/styles.scss';


.wrapper {
  width: inherit;
}

#spinner {
  height: 450px;
}


.hidden {
  display: none;
}



#heatmap-tooltip {
  font-family: inherit;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7);

  .tt-header {
    font-weight: bold;
  }
}


.checked {
  background-color: $dark-lightest;
}


