<div class="d-flex flex-xl-row flex-column p-3">

  <div class="d-flex flex-column mr-md-5 m-0">

    <div class="rounded bg-white shadow-sm">
      <h5 class="card-title font-weight-light ml-3 my-2">Your checklist</h5>
      <app-checklist></app-checklist>
    </div>

    <div class="rounded bg-white shadow-sm p-3 mt-4">
      <form class="d-flex flex-column align-items-stretch"
            [formGroup]="suggestionForm"
            (submit)="submitSuggestion()">
        <h5 class="card-title font-weight-light">Want to suggest an extra checklist item?</h5>
        <input type="text"
               class="form-control"
               [class.invalid]="!suggestionForm.valid && suggestionForm.value.content === '' && suggestionForm.controls['content'].touched"
               formControlName="content"
               placeholder="Your suggestion">
        <button class="btn btn-primary mt-2 align-self-end"
                [disabled]="!suggestionForm.valid"
                type="submit">
          Submit
        </button>
      </form>
    </div>

  </div>



  <div class="d-flex flex-column flex-grow-1 mt-md-0 mt-5">
    <h5 class="card-title font-weight-light">Checklist statistics</h5>

    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-row  align-items-center mr-auto">
        Aggregate by:
        <button class="ml-2 btn"
                [class.btn-outline-secondary]="isAggregateByDay"
                [class.btn-secondary]="!isAggregateByDay"
                (click)="aggregateByWeek()">
          Week
        </button>
        <button class="ml-1 btn"
                [class.btn-outline-secondary]="!isAggregateByDay"
                [class.btn-secondary]="isAggregateByDay"
                (click)="aggregateByDay()">
          Day
        </button>
      </div>
    </div>

    <div class="rounded bg-white p-3 shadow-sm mt-3">
      <app-progress-line-chart></app-progress-line-chart>
    </div>

    <div class="rounded bg-white p-3 shadow-sm mt-4">
      <app-progress-bar-chart></app-progress-bar-chart>
    </div>

    <app-date-time-range-picker [timeSelectionPossible]="false"
                                [initialDateRange]="initialDateRange"></app-date-time-range-picker>

  </div>

</div>
