<div class="d-flex flex-row p-3">

  <div class="d-flex flex-column mr-3">

    <h5 class="card-title font-weight-light m-0 ml-3">Your checklist</h5>

    <app-checklist></app-checklist>

    <div class="rounded bg-white shadow-sm m-3 p-3">
      <form class="d-flex flex-column align-items-stretch">
        <h5 class="card-title font-weight-light">Want to suggest an extra checklist item?</h5>
        <input type="text"
               class="form-control"
               placeholder="Your suggestion">
        <button class="btn btn-primary mt-2 align-self-end"
                type="submit">
          Submit
        </button>
      </form>
    </div>

  </div>



  <div class="d-flex flex-column flex-grow-1">
    <h5 class="card-title font-weight-light">Checklist statistics</h5>

    <div class="d-flex flex-row">

      <div class="d-flex flex-row mr-auto">
        <button class="btn btn-outline-secondary">
          Week
        </button>
        <button class="ml-1 btn btn-outline-secondary">
          Day
        </button>
      </div>
    </div>

  </div>

</div>



<app-date-time-range-picker></app-date-time-range-picker>
