@import 'src/styles.scss';

app-date-time-range-picker {
  position: absolute;
  top: 110px;
  right: 16px;
}


.invalid {
  border-color: #dc3545;
}

.invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}


#colleague-select {
  width: 130px;
}
