<div class="d-flex flex-row p-3">

  <div class="d-flex flex-column mr-3">

    <app-checklist></app-checklist>

    <div class="rounded bg-white shadow-sm m-2 p-3">
      <form class="d-flex flex-column align-items-stretch">
        <h6>Want to suggest an extra checklist item?</h6>
        <input type="text"
               class="form-control"
               placeholder="Your suggestion">
        <button class="btn btn-primary mt-2 align-self-end"
                type="submit">
          Submit
        </button>
      </form>
    </div>

  </div>








</div>
