<div class="navbar navbar-light d-flex flex-row justify-content-center align-items-center p-0"
     style="background-color: #e3f2fd;">

  <div id="left-div" class="p-2" style="height: 1px;"></div>

  <div id="content-div"
       class="d-flex flex-row mx-4 my-2">
    <form class="form-inline flex-grow-1">
      <div class="input-group w-100">
        <input type="text"
               class="form-control"
               placeholder="Search">
        <div class="input-group-append">
          <button class="btn icon-btn"
                  type="button">
            <fa-icon icon="search"></fa-icon>
          </button>
        </div>
      </div>
    </form>
    <form class="form-inline ml-4"
          [formGroup]="sortByForm">
      <select class="custom-select"
              formControlName="sortBy"
              (change)="sendSortBy()">
        <option *ngFor="let option of sortByValues"
                [value]="option">{{ option }}</option>
      </select>
    </form>
  </div>

  <div id="right-div" class="p-2" style="height: 1px;"></div>

</div>
