@import 'src/styles.scss';

.navbar {
  background-color: #00448B;
}

.icon-btn {
  border: 1px solid #ced4da;
  background-color: $medium-light-grey;
}

.invalid {
  border-color: #dc3545;
}

.invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}
