@import 'src/styles.scss';

.navbar {
  background-color: $dark-lighter;
}

.icon-btn {
  border: 1px solid $dark-lighter;

  fa-icon {
    color: $secondary;
  }
}

.icon-btn:hover {
  border: 1px solid $dark;
  transition: border-color .15s ease-in-out;
}


.dropdown-item {
  background-color: #fff;
  color: #16181b;
  fa-icon {
    color: #16181b;
  }
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-item:focus {
  color: #16181b;
  font-weight: 600;
}

.activeItemSelected {
  background-color: $primary-lighter;
}


.custom-select {
  background-color: $primary;
  color: #212529;
  cursor: pointer;

  option {
    background-color: #fff;
  }
}

.custom-select:hover {
  option {
    background-color: $primary-lighter;
  }
}




#wrapper {
  width: 1280px;
}

@include media-breakpoint-down(md) {
  #left-div {
    display: none;
  }

  #right-div {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  #left-div {
    width: 280px;
  }

  #right-div {
    width: 350px;
  }
}
