<div class="navbar d-flex flex-row justify-content-center align-items-center px-5 py-2">


  <div class="d-flex flex-lg-row flex-column w-100 mx-5">

    <form class="form-inline">
      <div class="input-group w-100">
        <input type="text"
               class="form-control"
               placeholder="Search">
        <div class="input-group-append">
          <button class="btn icon-btn"
                  type="button">
            <fa-icon icon="search"></fa-icon>
          </button>
        </div>
      </div>
    </form>




    <div class="ml-auto d-flex flex-row align-items-center mt-lg-0 mt-2">

      <app-post-category-badge *ngFor="let cat of selectedCategories"
                               [category]="cat"
                               style="cursor: pointer;"
                               (click)="removeSelectedCategory(cat)"></app-post-category-badge>

      <p *ngIf="selectedCategories.length == 0"
         class="m-0">Showing posts from any category</p>

      <div class="dropdown ml-2">
        <button class="btn btn btn-light dropdown-toggle"
                type="button"
                data-toggle="dropdown">
          + categories
        </button>
        <div class="dropdown-menu">
          <button *ngFor="let catOption of possibleCategories; let i = index"
                  class="dropdown-item"
                  [class.active]="isSelected(catOption)"
                  type="button"
                  (click)="toggleCategory(catOption)">
            <fa-icon [icon]="possibleCategoriesIcons[i]"
                     class="mr-2"
                     [style.color]="isSelected(catOption) ? '#fff' : '#000'"></fa-icon>
            {{ catOption }}
          </button>
          <button *ngIf="!allSelected()"
                  class="dropdown-item"
                  type="button"
                  (click)="selectAll()"><b>Select all</b></button>
        </div>
      </div>


      <form class="form-inline ml-3"
            [formGroup]="sortByForm">
        <select class="custom-select"
                formControlName="sortBy"
                (change)="sendSortBy()">
          <option *ngFor="let option of sortByValues"
                  [value]="option">{{ option }}</option>
        </select>
      </form>

    </div>

  </div>




</div>
