@import 'src/styles.scss';

.date-text {
  color: $medium-dark-grey;
  font-size: 0.65em;
}

.date-text:hover {
  color: $dark-grey;
}

.social-count {
  color: $medium-dark-grey;
}

fa-icon {
  cursor: pointer;
}

#icon-part.not-active {
  fa-icon {
    color: $medium-dark-grey;
  }

  span {
    color: $medium-dark-grey;
  }
}

#icon-part.not-active:hover {
  fa-icon {
    color: $dark-grey;
  }

  span {
    color: $dark-grey;
  }
}

#icon-part.active {
  fa-icon {
    color: $primary;
  }

  span {
    color: $primary;
  }
}

#icon-part.active:hover {
  fa-icon {
    color: #409cff;
  }

  span {
    color: #409cff;
  }
}
