@import 'src/styles.scss';

.date-text {
  color: $medium-dark-grey;
  font-size: 0.65em;
}

.date-text:hover {
  color: $dark-grey;
}

.social-count {
  color: $medium-dark-grey;
}

fa-icon {
  color: $medium-dark-grey;
}

.liked {
  color: $primary;
}
