<div class="container-fluid bg-info">
  <div class="row py-2 bg-white">
    <div class="col-sm-12">
      <app-date-time-range-picker class=""
                                  #datetimerange
                                  [initialDateRange]="initialDateRange">
      </app-date-time-range-picker>

      <div #chartWrapper
           class="flex-grow-1 d-flex flex-column justify-content-center shadow rounded">
        <!-- (window:resize)="onResize($event)"> -->
        <app-spinner *ngIf="isLoading"
                     [color]="'#007bff'"
                     class="align-self-center"></app-spinner>
        <apx-chart #chart
                   [class.hidden]="isLoading"
                   [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [xaxis]="chartOptions.xaxis"
                   [stroke]="chartOptions.stroke"
                   [dataLabels]="chartOptions.dataLabels"
                   [yaxis]="chartOptions.yaxis"
                   [labels]="chartOptions.labels"
                   [legend]="chartOptions.legend"
                   [title]="chartOptions.title"
                   [subtitle]="chartOptions.subtitle"
                   [tooltip]="chartOptions.tooltip"
                   [noData]="chartOptions.noData"></apx-chart>
      </div>
    </div>
  </div>
</div>
