@import 'src/styles.scss';

/* fixed and fluid only on sm and up */
@media (min-width: 768px) {
  .fixed {
      flex: 0 0 200px;
      min-height: 100vh;
      min-width: 180px;
  }
  .col .fluid {
     min-height: 100vh;
  }
  .flex-grow {
     flex:1;
  }
}

#logo {
  max-height: 15vh;
}

h1 {
  color: $secondary;
}
