<!-- Button trigger modal -->
<!-- <button type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#extraInfoModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div #extraInfoModal
     class="modal fade"
     id="extraInfoModal"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog modal-dialog-scrollable mb-5"
       role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ roomName }} total usage: <b>{{ getCurrTotalUsage() }} kWh</b></h5>
        <button type="button"
                class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="modal-body p-3">

        <div class="d-flex flex-row align-items-center justify-content-center"
             *ngIf="isLoading">
          <app-spinner [color]="'#007bff'"></app-spinner>
        </div>

        <div *ngIf="!isLoading">

          <div *ngFor="let sensorID of currSensorIds; let i = index"
               class="d-flex flex-column">

            <div class="d-flex flex-row">
              <span class="entry-title align-self-start">
                <b>{{ currSensorMatchingFuseNames[i] }}</b>
              </span>
              <span class="entry-value ml-auto">
                <b>{{ currSensorMatchingUsages[i].toFixed(2) }} kWh</b>
              </span>
            </div>
            <p class="m-0">Sensor ID: <span class="text-muted">{{ sensorID }}</span></p>

            <div class="d-flex flex-row align-items-center justify-content-center"
                 style="height: 125px;"
                 *ngIf="!showCharts">
              <app-spinner [color]="'#007bff'"></app-spinner>
            </div>


            <div *ngIf="showCharts"
                 class="sensor-chart">
              <app-sensor-distribution-chart [data]="allSensorDistributionData[sensorID].data"
                                             [maxVal]="maxValue"
                                             [scaleToMaxVal]="useEqualScales">
              </app-sensor-distribution-chart>
            </div>

            <hr *ngIf="i < currSensorIds.length - 1"
                class="mt-2 mb-3 w-100">
          </div>

        </div>
      </div>



      <div class="modal-footer d-flex flex-row align-items-center justify-content-center">
        <button type="button"
                *ngIf="useEqualScalesLocal"
                class="btn btn-primary"
                [disabled]="maxValue <= 0 || currSensorIds.length <= 1"
                (click)="toggleScale()">Use same scale on y-axis</button>
        <button type="button"
                *ngIf="!useEqualScalesLocal"
                [disabled]="maxValue <= 0 || currSensorIds.length <= 1"
                class="btn btn-outline-primary"
                (click)="toggleScale()">Use same scale on y-axis</button>
      </div>
    </div>
  </div>
</div>
