<!-- Dirty way to open the modal from javascript (hidden button) -->
<button id="openModalBtn" class="d-none" type="button" data-toggle="modal" data-target="#checklistModal">
  Open Right Sidebar Modal
</button>

<!-- Checklist Modal -->
<div class="modal right fade" id="checklistModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="d-flex flex-column">
        <div class="navbar bg-primary navbar-dark d-flex flex-row align-items-center">
          <button class="invisible-btn" data-dismiss="modal">
            <fa-icon id="close-icon" icon="times"></fa-icon>
          </button>
          <h3 class="m-0 mr-auto">Checklist</h3>
        </div>

        <a class="d-flex flex-column profile-icon-and-badge align-items-center" [routerLink]="'/profile'">
          <app-avatar-component [size]="3" [borderActive]="true" [borderColor]="'grey'"></app-avatar-component>
          <app-points-badge [amount]="123"></app-points-badge>
        </a>
      </div>



      <!-- <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
    </div>
    <div class="modal-body">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </p>
    </div> -->
    </div>
  </div>
</div>
