<div class="d-flex flex-row flex-wrap m-4">

  <div *ngFor="let iconName of allIconNames" class="p-2">
    <fa-icon data-toggle="tooltip" data-placement="top" [title]="iconName" [icon]="iconName"></fa-icon>
  </div>

  <div class="d-flex flex-column">
    <button class="btn btn-primary" (click)="fetch1()">Fetch 1</button>
    <p>{{ f1 }}</p>
  </div>

  <!-- <button class="btn btn-primary" (click)="change()">Fetch 1</button> -->
  <!-- <hr>
  <button class="btn btn-primary" (click)="fetch2()">Fetch 2</button>
  <p>{{ f2 }}</p> -->


</div>
