<div [id]="'wrapper' + commentID"
     class="card p-2"
     (mouseenter)="makeMainGrey()"
     (mouseleave)="makeMainWhite()"
     (click)="onClick()">
  <ng-container *ngIf="comment$ | async; let comment">

    <div class="d-flex flex-row"
         (mouseenter)="isHoveringMain=true">

      <!-- Profile picture -->
      <div class="profile-pic">
        <app-avatar-component [borderActive]="true"
                              [borderColor]="'grey'"
                              [size]="1"></app-avatar-component>
      </div>

      <!-- Like & date -->
      <div class="d-flex flex-column px-2 w-100">

        <div class="p-0 d-flex flex-row align-items-center">
          <h6 class="mr-auto">{{ allUsersSvc.getNameOfUser(comment.uid) }}</h6>

          <div class="d-flex flex-row p-0">
            <app-social-count [postOrComment]="comment"
                              [liked]="isLiked()"
                              (likePressed)="toggleCommentLike()"></app-social-count>
          </div>
        </div>

        <p>{{ comment.content }}</p>
      </div>
    </div>


    <!-- Subcomments thread -->
    <div *ngIf="comment.comments.length > 0"
         id="thread-section">


      <div class="d-flex flex-row">
        <button class="invisible-btn"
                (mouseenter)="isHoveringMain=false">
          <fa-icon *ngIf="!toggleOpen"
                   [id]="'thread-toggle-icon' + commentID"
                   icon="plus-square"
                   class="thread-toggle"
                   data-toggle="collapse"
                   [attr.data-target]="'#cmt' + commentID"
                   (mouseover)="toggleColorToDark()"
                   (mouseleave)="toggleColorToLight()"
                   (click)="toggle()"></fa-icon>
          <fa-icon *ngIf="toggleOpen"
                   [id]="'thread-toggle-icon' + commentID"
                   icon="minus-square"
                   class="thread-toggle"
                   data-toggle="collapse"
                   [attr.data-target]="'#cmt' + commentID"
                   (mouseover)="toggleColorToDark()"
                   (mouseleave)="toggleColorToLight()"
                   (click)="toggle()"></fa-icon>
        </button>

        <div class="flex-grow-1 ml-2"
             (mouseenter)="isHoveringMain=true"></div>
      </div>





      <div class="collapse"
           (mouseenter)="isHoveringMain=false"
           [id]="'cmt' + commentID">

        <div class="d-flex flex-row">

          <button class="invisible-btn"
                  style="width: auto; height: auto;">
            <div class="spacer-hitbox"
                 data-toggle="collapse"
                 [attr.data-target]="'#cmt' + commentID"
                 (mouseover)="toggleColorToDark()"
                 (mouseleave)="toggleColorToLight()">
              <div [id]="'thread-toggle-bar' + commentID"
                   class="spacer align-self-stretch"></div>
            </div>
          </button>

          <div class="w-100 d-flex flex-column">
            <app-comment *ngFor="let subcmntID of comment.comments"
                         [commentID]="subcmntID"
                         class="py-1"
                         (mouseenter)="makeMainWhite()"
                         (mouseleave)="makeMainGrey()"></app-comment>
          </div>

        </div>
      </div>

    </div>

  </ng-container>
</div>

<!-- Comment to thread modal -->
<div class="modal fade"
     [id]="'commentToThreadModal' + commentID"
     #modal
     tabindex="-1">
  <app-comment-to-thread [comment$]="comment$"
                         [currCommentID]="commentID"
                         (commentSubmitted)="closeModal()"></app-comment-to-thread>
</div>
