@import 'src/styles.scss';


h6 {
  margin-top: 4px;
  font-weight: bold;
}

p {
  margin: 0;
}


.date-text {
  color: $medium-grey;
}

.date-text:hover {
  color: $dark-grey;
}


.nb-likes {
  color: $dark-grey;
}

.thread-toggle {
  color: $medium-grey;
}


.spacer {
  background-color: $medium-grey;
  width: 2px;
  height: 100%;
  margin-left: 6px;
  margin-right: 6px;
}


.spacer-hitbox {
  background-color: transparent;
}
