<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center bg-primary">

  <div class="w-100 h-50 d-flex flex-column justify-content-center align-items-center">
    <a href="https://www.wattness.com/"
       target="_blank"
       class="m-4"
       rel="noopener noreferrer">
      <img class="img-fluid"
           id="logo"
           src="assets/wattness.svg"
           alt="Wattness logo">
    </a>

    <div id="info-text"
         class="m-4 mt-2">
      This is a proof of concept dashboard designed for office workers to monitor the energy usage in their workplace.
      The dashboard is part of a master thesis at the Human-Computer Interaction research of KU Leuven.
      Wattness provides the energy usage data and helped greatly with the work done.
    </div>
  </div>

  <div class="w-100 h-50 flex-grow-1 d-flex align-items-center justify-content-center bg-secondary">


    <div class="credentials bg-secondary">

      <!-- <button class="btn btn-secondary" (click)="test()">test</button> -->

      <!-- LOGIN -->
      <form *ngIf="isLogin"
            #loginForm="ngForm"
            (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email-login">Email address</label>
          <input type="email"
                 class="form-control"
                 [class.invalid]="!email.valid && email.touched"
                 id="email-login"
                 name="email"
                 ngModel
                 #email="ngModel"
                 required
                 email>
          <span class="help-block"
                *ngIf="!email.valid && email.touched">Please enter a valid email</span>
        </div>


        <div class="form-group">
          <label for="pw-login">Password</label>
          <input type="password"
                 class="form-control"
                 [class.invalid]="pw.touched && !pw.valid"
                 id="pw-login"
                 name="pw"
                 ngModel
                 #pw="ngModel"
                 required>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center mt-4">
          <app-spinner *ngIf="loading"
                       [color]="'#fcf75e'"></app-spinner>
          <button *ngIf="!loading"
                  class="btn btn-lg btn-login"
                  type="submit"
                  [disabled]="!loginForm.valid">Login</button>
          <span class="help-block mt-2"
                *ngIf="loginError">Could not log in. Make sure you have registered an account.</span>
        </div>
      </form>


      <!-- REGISTER -->
      <!-- <form *ngIf="!isLogin"
          #registerForm="ngForm"
          (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="email-reg">Email address</label>
        <input type="email"
               class="form-control"
               [class.invalid]="!email.valid && email.touched"
               id="email-reg"
               name="email"
               ngModel
               #email="ngModel"
               required
               email>
        <span class="help-block"
              *ngIf="!email.valid && email.touched">Please enter a valid email</span>

        <label for="uname-reg">Username</label>
        <input type="text"
               class="form-control"
               [class.invalid]="!uname.valid && uname.touched"
               id="uname-reg"
               name="uname"
               ngModel
               #uname="ngModel"
               required>
        <span class="help-block"
              *ngIf="!uname.valid && uname.touched">Please enter a username</span>
      </div>
      <div class="form-group">
        <label for="pw-reg-1">Password</label>
        <input type="password"
               class="form-control"
               [class.invalid]="pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid || pw1.value !== pw2.value)"
               id="pw-reg-1"
               name="pw1"
               ngModel
               #pw1="ngModel"
               required
               minlength=6>

        <label for="pw-reg-2">Repeat password</label>
        <input type="password"
               class="form-control"
               [class.invalid]="pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid || pw1.value !== pw2.value)"
               id="pw-reg-2"
               name="pw2"
               ngModel
               #pw2="ngModel"
               required
               minlength=6>

        <div class="d-flex flex-column">
          <span class="help-block"
                *ngIf="pw1.touched && pw2.touched && pw1.value !== pw2.value">Passwords must match</span>
          <span class="help-block"
                *ngIf="(pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid)) || weakPwError">Password must be at
            least 6 characters</span>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center mt-4">
        <app-spinner *ngIf="loading"
                     [color]="'#fff'"></app-spinner>
        <span class="help-block"
              *ngIf="registerError">Could not register the account, please try again later.</span>
        <span class="help-block"
              *ngIf="registerError"> If you already have an account use the login form.</span>
        <button *ngIf="!loading"
                class="btn btn-lg btn-login"
                type="submit"
                [disabled]="!registerForm.valid || pw1.value !== pw2.value">Sign up</button>
      </div>
    </form> -->


      <!-- LOGIN <-> SIGNUP + FORGOT PW -->
      <!-- <div *ngIf="isLogin"
         class="d-flex flex-column align-items-center mt-4 p-2">
      <p class="text-center mb-1">Don't have an account yet? <button class="invisible-btn"
                (click)="toggleLogin()">Register here</button></p>
      <button class="invisible-btn mt-2">Forgot password</button>
    </div> -->

      <!-- <div *ngIf="!isLogin"
         class="d-flex flex-column align-items-center mt-4 p-2">
      <p class="text-center mb-1">Already have an account? <button class="invisible-btn"
                (click)="toggleLogin()"
                href="#">Log in</button></p>
      <button class="invisible-btn mt-2">Forgot password</button>
    </div> -->
    </div>

  </div>
</div>
