@import 'src/styles.scss';


label {
  color: $light;
}


p {
  margin: 0;
  color: white;
}



.invisible-btn {
  margin: 0;
  color: white;
  font-weight: bold;
}

.invisible-btn:hover {
  margin: 0;
  color: rgb(0, 54, 112);
  font-weight: bold;
  text-decoration: none;
}

iframe {
  width: 1px;
  height: 1px;
  visibility: hidden;
}


input.invalid {
  border: 2px solid #FFA200;
}

.help-block {
  color: #FFA200;
}




// Custom login button
.btn-login {
  color: #007BFF;
  background-color: #FFFFFF;
  border-color: #007BFF;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: #FFFFFF;
  background-color: #007BFF;
  border-color: #FFFFFF;
}

.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  background-image: none;
}

.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
  background-color: #FFFFFF;
  border-color: #007BFF;
  color: #007BFF;
}

.btn-login .badge {
  color: #FFFFFF;
  background-color: #007BFF;
}


