@import 'src/styles.scss';


label {
  color: $light;
}

#first-row {
  height: 55%;
}

#second-row {
  height: 45%;
}

b {
  font-weight: 900;
  text-decoration: underline;
}

.credentials {
  width: 100%;
  padding: 32px 16px;
}

.extra-info {
  text-align: center;
  color: $light;

  a {
    color: $primary;
    font-weight: 600;
    cursor: pointer;
  }

  a:hover {
    color: $primary-hover;
    text-decoration: underline;
  }
}

label {
  color: $primary;
}

@include media-breakpoint-up(md) {
  .credentials {
    width: 500px;
    padding: 28px 16px;
  }
}

.help-block {
  text-align: center;
  margin-bottom: 4px;
}

p {
  margin: 0;
  color: white;
}

.info-text {
  color: $secondary;
  text-align: center;
  max-width: 500px;
  font-weight: 500px;
}

#logo {
  max-height: 15vh;
}



// .invisible-btn {
//   margin: 0;
//   color: white;
//   font-weight: bold;
// }

// .invisible-btn:hover {
//   margin: 0;
//   color: rgb(0, 54, 112);
//   font-weight: bold;
//   text-decoration: none;
// }


input.invalid {
  border: 2px solid $danger;
}

.help-block {
  color: $danger;
}




// Custom login button
.btn-login {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  color: $primary;
  background-color: $secondary;
  border-color: $primary;
}

.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
  background-image: none;
}

.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
}


