<div class="mainContainer d-flex justify-content-center align-items-center">

  <div class="card bg-primary my-5 p-5">
    <form *ngIf="isLogin">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
        <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <div class="d-flex flex-row justify-content-center">
        <button class="btn btn-lg btn-login" [routerLink]="['/home']">Login</button>
      </div>
    </form>

    <form *ngIf="!isLogin" #registerForm="ngForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="email-input">Email address</label>
        <input type="email"
          class="form-control"
          [class.invalid]="!email.valid && email.touched"
          id="email-input"
          name="email"
          ngModel
          #email="ngModel"
          required
          email>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
      </div>
      <div class="form-group">
        <label for="pw-input-1">Password</label>
        <input type="password"
          class="form-control"
          [class.invalid]="pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid || pw1.value !== pw2.value)"
          id="pw-input-1"
          name="pw1"
          ngModel
          #pw1="ngModel"
          required
          minlength=6>

        <label for="pw-input-1">Password</label>
        <input type="password"
            class="form-control"
            [class.invalid]="pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid || pw1.value !== pw2.value)"
            id="pw-input-2"
            name="pw2"
            ngModel
            #pw2="ngModel"
            required
            minlength=6>

            <div class="d-flex flex-column">
              <span class="help-block" *ngIf="pw1.touched && pw2.touched && pw1.value !== pw2.value">Passwords must match</span>
              <span class="help-block" *ngIf="pw1.touched && pw2.touched && (!pw1.valid || !pw2.valid)">Passwords must be at least 6 characters</span>
            </div>
      </div>



      <div class="d-flex flex-row justify-content-center mt-4">
        <app-spinner *ngIf="loading" [color]="'#fff'"></app-spinner>
        <button *ngIf="!loading" class="btn btn-lg btn-login" type="submit" [disabled]="!registerForm.valid || pw1.value !== pw2.value">Sign up</button>
      </div>
    </form>


    <div *ngIf="isLogin" class="d-flex flex-column align-items-center mt-4 p-2">
      <p class="mb-1">Don't have an account yet? <button class="invisible-btn" (click)="toggleLogin()">Register here</button></p>
      <button class="invisible-btn">Forgot password</button>
    </div>
    <div *ngIf="!isLogin" class="d-flex flex-column align-items-center mt-4 p-2">
      <p class="mb-1">Already have an account? <button class="invisible-btn" (click)="toggleLogin()" href="#">Log in</button></p>
      <button class="invisible-btn">Forgot password</button>
    </div>
  </div>

</div>

<!-- Hidden iframe to preload resources -->
<!-- <iframe
  src="http://localhost:5005/s/thesisstudent/app/kibana#/visualize/edit/243a6af0-588e-11ea-8789-e12a075ad0f8?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fd%2Cto%3Anow%2Fd))">
</iframe> -->
