@import 'src/styles.scss';

.spacer {
  background-color: $light-grey;
}

h6 {
  margin-top: 4px;
  font-weight: bold;
}

p {
  margin: 0;
}

#submit-btn {
  color: $secondary;

  #submit-btn-icon {
    color: $secondary;
    margin-right: 4px;
  }
}

.highlighted {
  background-color: $dark-lighter ;
  transition: background-color .2s ease-in-out;
}
