<div class="border-bottom border-left-0 border-right-0 border-top-0"
     id="toggle-div"
     data-toggle="collapse"
     [attr.data-target]="'#collapseable' + id"
     (click)="isOpened = !isOpened">
  <fa-icon *ngIf="!isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-up"></fa-icon>
  Total usage per circuit
</div>

<div class="collapse"
     [id]="'collapseable' + id">
  <div class="card-body">

    <div class="row">
      <div class="col-lg-6 col-12">
        <apx-chart #barChart
                   [series]="barChartOptions.series"
                   [chart]="barChartOptions.chart"
                   [dataLabels]="barChartOptions.dataLabels"
                   [grid]="barChartOptions.grid"
                   [plotOptions]="barChartOptions.plotOptions"
                   [yaxis]="barChartOptions.yaxis"
                   [xaxis]="barChartOptions.xaxis"
                   [title]="barChartOptions.title"
                   [tooltip]="barChartOptions.tooltip"
                   [legend]="barChartOptions.legend"
                   [noData]="barChartOptions.noData"></apx-chart>
      </div>

      <div class="col-lg-6 col-12">
        <apx-chart [series]="percentageChart.series"
                   [chart]="percentageChart.chart"
                   [noData]="percentageChart.noData"
                   [legend]="percentageChart.legend"
                   [labels]="percentageChart.labels"
                   [xaxis]="percentageChart.xais"
                   [yaxis]="percentageChart.yaxis"
                   [tooltip]="percentageChart.tooltip"></apx-chart>
      </div>
    </div>

  </div>
</div>
