<div class="border-bottom border-left-0 border-right-0 border-top-0"
     id="toggle-div"
     data-toggle="collapse"
     [attr.data-target]="'#collapseable' + id"
     (click)="isOpened = !isOpened">
  <fa-icon *ngIf="!isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-up"></fa-icon>
  Total usage per circuit
</div>

<div class="collapse"
     [id]="'collapseable' + id">
  <div class="card-body">

    <table *ngIf="true"
           class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Circuit</th>
          <th scope="col">Total usage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of data">
          <th scope="row">{{ entry.fuse }}</th>
          <td>{{ entry.kwh }} kWh</td>
        </tr>
      </tbody>
    </table>


    <apx-chart #chart
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [labels]="chartOptions.labels"></apx-chart>

  </div>
</div>
