@import 'src/styles.scss';


.my-tooltip {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: normal;
  width: max-content;
  display:block;
  position:fixed;
  overflow:hidden;
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.08s linear;

  .card-header {
    font-weight: bold;
  }
}

.default {
  font-size: 15px;
  margin-left: 2px;
  color: $info;
}

.large-primary {
  font-size: 1.2em;
  color: $primary
}

.large-info {
  font-size: 1.2em;
  color: $info
}

.large-secondary {
  font-size: 1.2em;
  color: $secondary;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}
