
<div class="d-flex flex-row align-items-stretch h-100"
     id="wrapper"
     [class.toggled]="sidebarOpened">

  <!-- Sidebar -->
  <div class="border-right bg-white"
       id="sidebar-wrapper">
    <div class="sidebar-heading">
      <fa-icon icon="chart-area"
               class="py-0 pr-1"></fa-icon>
      Compare
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action"
         [routerLink]="['verbruiksverloop']"
         routerLinkActive="active">Verbruiksverloop</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['vergelijk-split']"
         routerLinkActive="active">Vergelijk split</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['vergelijk-duaal']"
         routerLinkActive="active">Vergelijk duaal</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['report']"
         routerLinkActive="active">Report</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg bg-white border-bottom">
      <button class="btn btn-outline-light"
              id="menu-toggle"
              (click)="toggleMenu()">
              <fa-icon *ngIf="sidebarOpened" icon="bars"></fa-icon>
              <fa-icon *ngIf="!sidebarOpened" icon="arrow-left"></fa-icon>
      </button>
      <h4 class="my-0 mx-2">{{ getCurrentTabName() }}</h4>
    </nav>

    <div id="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
