<div class="mainContainer d-flex flex-column">

  <ul class="nav nav-tabs pt-1">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['verbruiksverloop']" routerLinkActive="active">Verbruiksverloop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['vergelijk-split']" routerLinkActive="active">Vergelijk split</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['vergelijk-duaal']" routerLinkActive="active">Vergelijk duaal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['report']" routerLinkActive="active">Week report</a>
    </li>
  </ul>

  <div class="d-flex flex-grow-1 mb-2 content p-2 rounded-bottom border-left border-right border-bottom">
    <router-outlet></router-outlet>
  </div>
</div>
