<div class="d-flex flex-row align-items-stretch h-100"
     id="wrapper"
     [class.toggled]="sidebarOpened">

  <!-- Sidebar -->
  <div id="sidebar-wrapper"
       class="border-right bg-white">
    <div class="sidebar-heading d-flex">
      <fa-icon icon="chart-area"
               class="py-0 pr-1"></fa-icon>
      Explore
      <button class="btn btn-outline-light menu-toggle ml-auto mr-2"
              id="toggle-btn-in-sidebar"
              (click)="toggleMenu()">
        <fa-icon icon="arrow-left"></fa-icon>
      </button>
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action"
         [routerLink]="['verbruiksverloop']"
         routerLinkActive="active">Usage in time</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['vergelijk-split']"
         routerLinkActive="active">Compare usage in time</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['daily-totals']"
         routerLinkActive="active">Daily total used energy</a>
      <a class="list-group-item list-group-item-action"
         [routerLink]="['statistics']"
         routerLinkActive="active">Summary</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper"
       [class.toggled]="sidebarOpened">

    <nav class="navbar navbar-expand-lg bg-white border-bottom">
      <button class="btn btn-outline-light menu-toggle"
              (click)="toggleMenu()">
        <fa-icon *ngIf="!sidebarOpened"
                 icon="bars"></fa-icon>
        <fa-icon *ngIf="sidebarOpened"
                 icon="arrow-left"></fa-icon>
      </button>
      <h4 class="my-0 mx-2">{{ getCurrentTabName() }}</h4>
    </nav>

    <div id="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
