<!-- Dirty way to open the modal from javascript (hidden button) -->
<button id="openModalBtn"
        class="d-none"
        type="button"
        data-toggle="modal"
        data-target="#checklistModal">
  Open Right Sidebar Modal
</button>

<!-- Checklist Modal -->
<div class="modal direction fade"
     id="checklistModal"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="d-flex flex-column">
        <div class="navbar bg-primary navbar-dark d-flex flex-row align-items-center">
          <button class="invisible-btn"
                  data-dismiss="modal">
            <fa-icon id="close-icon"
                     icon="times"></fa-icon>
          </button>
          <h3 class="m-0 mr-auto">Checklist</h3>
        </div>

        <a class="d-flex flex-column profile-icon-and-badge align-items-center"
           [routerLink]="'/profile'"
           data-dismiss="modal">
          <app-avatar-component [size]="3"
                                [borderActive]="true"
                                [borderColor]="'grey'"></app-avatar-component>
          <app-points-badge [amount]="123"></app-points-badge>
        </a>


        <button class="btn btn-outline-primary ml-auto mt-5 mr-auto"
                id="analytics-btn"
                [routerLink]="['/profile', 'checklist']"
                data-dismiss="modal">
          See checklist analytics
        </button>
      </div>

      <div class="modal-body pt-0 d-flex flex-column align-items-center overflow-auto">

        <app-checklist></app-checklist>

        <p class="m-3 text-center">You saved approximately <b>132 Wh</b> by doing checklist actions this week!</p>
        <p class="text-center">Good job!</p>

      </div>


    </div>
  </div>
</div>
