<div class="shadow bg-white rounded mb-3">

  <div class="chartcard-title d-flex align-items-center position-relative">
    <h5 class="card-title font-weight-light">Total usage distribution</h5>
    <app-share-button #shareBtn
                      (shareClicked)="shareChart()"
                      class="ml-auto mr-3"></app-share-button>
    <a id="remove-chart-btn"
       (click)="removeChart()">
      <fa-icon icon="times"></fa-icon>
      <span>Remove chart</span>
    </a>

    <app-date-time-range-picker #datetimerange
                                [initialDateRange]="initDateRange"
                                [timeSelectionPossible]="true"
                                [randomId]="randomId"
                                [style.z-index]="100 - randomId"
                                (datetimeRangeSelected)="updateForRange($event)">
    </app-date-time-range-picker>

  </div>

  <div class="chartcard-body d-flex flex-column"
       #chartWrapper>

    <div id="spinner"
         *ngIf="isLoading"
         class="d-flex justify-content-center align-items-center">
      <app-spinner [color]="'#007bff'"></app-spinner>
    </div>

    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [xaxis]="chartOptions.xaxis"
               [stroke]="chartOptions.stroke"
               [dataLabels]="chartOptions.dataLabels"
               [yaxis]="chartOptions.yaxis"
               [labels]="chartOptions.labels"
               [legend]="chartOptions.legend"
               [stroke]="chartOptions.stroke"
               [tooltip]="chartOptions.tooltip"
               [noData]="chartOptions.noData"></apx-chart>



    <button class="btn btn-sm btn-outline-secondary align-self-center"
            id="more-options-btn"
            data-toggle="collapse"
            [attr.data-target]="'#sourcesList' + randomId"
            (click)="isToggledOpen = !isToggledOpen">
      <fa-icon *ngIf="isToggledOpen"
               data-toggle="collapse"
               [attr.data-target]="'#sourcesList' + randomId"
               icon="chevron-up"></fa-icon>
      <fa-icon *ngIf="!isToggledOpen"
               data-toggle="collapse"
               [attr.data-target]="'#sourcesList' + randomId"
               icon="chevron-down"></fa-icon>
    </button>


    <div [id]="'sourcesList' + randomId"
         class="collapse">

      <hr>

      <div class="mx-5">

        <table class="table table-sm table-hover">
          <tbody>
            <tr>
              <th scope="row">Main date range</th>
              <td class="text-muted text-right">{{ getCurrentFormattedDatetimeRange() }}</td>
            </tr>
            <tr *ngFor="let extraRange of extraRanges; let i = index"
                (click)="onExtraRangeClick(i)">
              <th scope="row">
                <button *ngIf="shownExtraRangeRemoveBtn === i"
                        class="animated fadeInLeft invisible-btn ml-1"
                        (click)="removeExtraRangeAtPosition(i)">
                  <fa-icon icon="minus-circle"
                           id="remove-icon"></fa-icon>
                </button>
                <span class="pl-sm-4 p-0"
                      *ngIf="shownExtraRangeRemoveBtn !== i">{{ extraRange.name }}</span>
                <span class="pl-sm-2 p-0"
                      *ngIf="shownExtraRangeRemoveBtn === i">{{ extraRange.name }}</span>
              </th>
              <td class="text-muted text-right">{{ extraRange.range.toString() }}</td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex flex-column mt-2">
          <label>Compare with:</label>

          <form [formGroup]="extraRangeForm"
                (ngSubmit)="addExtraDateRange()"
                class="form-inline">
            <app-number-input [parentForm]="extraRangeForm"
                              [inputFieldName]="'differenceAmount'"
                              [max]="999"
                              [min]="0"></app-number-input>
            <select class="custom-select mx-2"
                    formControlName="difference">
              <option *ngFor="let option of extraRangeOptions"
                      [value]="option">{{ option }}</option>
            </select>
            Earlier
            <button class="btn btn-outline-primary ml-2"
                    [disabled]="!extraRangePossible()"
                    type="submit">Add</button>

          </form>
          <span class="help-block"
                *ngIf="extraRanges.length === MAX_NB_EXTRA_RANGES">{{ 'Maximum of ' + MAX_NB_EXTRA_RANGES + ' extra ranges reached.' }}</span>
        </div>
      </div>

    </div>





  </div>
</div>
