<div class="shadow bg-white rounded mb-3">

  <div class="chartcard-title d-flex align-items-center position-relative">
    <h5 class="card-title font-weight-light">Total usage over time</h5>
    <app-share-button #shareBtn
                      (shareClicked)="shareChart()"
                      class="ml-auto mr-3"></app-share-button>
    <a id="remove-chart-btn"
       (click)="removeChart()">
      <fa-icon icon="times"></fa-icon>
      <span>Remove chart</span>
    </a>

    <app-date-time-range-picker #datetimerange
                                [initialDateRange]="initDateRange"
                                [timeSelectionPossible]="true"
                                [randomId]="randomId"
                                [style.z-index]="100 - randomId"
                                (datetimeRangeSelected)="updateForRange($event)">
    </app-date-time-range-picker>

    <div class="mr-3">
      <app-info-hover [id]="'explore-2-line-chart' + randomId"
                      [offsetY]="20"
                      [iconClass]="'large-primary'"
                      [tooltipTitle]="'What do I see here?'">
        <div class="d-flex flex-column">
          <span>This chart shows how the <b>total amount of Watts</b> usage <b>varies in time</b> for
            <b>the selected timeframe</b>.</span>
          <span>At the bottom you can select <b>extra timeframes relative to the main chosen timeframe</b> to compare
            data.</span>
          <span>You can edit the timeframe via the button in the top right.</span>
          <hr class="m-2">
          <div class="extra-info-tooltip">
            <span>A Watt is a unit of power, which means the rate at which energy is
              consumed/produced.</span>
            <span>For example: a device of 100 Watt will consume energy faster than a 50 Watt
              device.</span>
            <span>You can interpret the area under this curve as the actual amount of consumed
              energy.</span>
          </div>
        </div>
      </app-info-hover>
    </div>

  </div>

  <div class="chartcard-body d-flex flex-column"
       #chartWrapper>

    <div id="spinner"
         *ngIf="isLoading"
         class="d-flex justify-content-center align-items-center">
      <app-spinner></app-spinner>
    </div>

    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [xaxis]="chartOptions.xaxis"
               [stroke]="chartOptions.stroke"
               [dataLabels]="chartOptions.dataLabels"
               [colors]="chartOptions.colors"
               [yaxis]="chartOptions.yaxis"
               [labels]="chartOptions.labels"
               [legend]="chartOptions.legend"
               [stroke]="chartOptions.stroke"
               [tooltip]="chartOptions.tooltip"
               [noData]="chartOptions.noData"></apx-chart>



    <div class="mt-1">

      <hr class="mt-0">

      <div class="mx-5">

        <table class="table table-sm table-hover">
          <tbody>
            <tr>
              <th scope="row">Main date range</th>
              <td class="text-muted text-right">{{ getCurrentFormattedDatetimeRange() }}</td>
              <td>
                <button class="invisible-btn ml-3"
                        (click)="editMainRange()">
                  <fa-icon icon="pencil-alt"
                           id="edit-icon"></fa-icon>
                </button>
              </td>
            </tr>
            <tr *ngFor="let extraRange of extraRanges; let i = index">
              <th scope="row">
                <span class="pl-sm-3 p-0">{{ extraRange.name }}</span>
              </th>
              <td class="text-muted text-right">{{ extraRange.range.toString() }}</td>
              <td>
                <button class="invisible-btn ml-3"
                        (click)="removeExtraRangeAtPosition(i)">
                  <fa-icon icon="times"
                           id="remove-icon"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex flex-column mt-2">
          <label>Compare with:</label>

          <form [formGroup]="extraRangeForm"
                (ngSubmit)="addExtraDateRange()"
                class="form-inline">
            <app-number-input [parentForm]="extraRangeForm"
                              [inputFieldName]="'differenceAmount'"
                              [max]="999"
                              [min]="0"></app-number-input>
            <select class="custom-select mx-2"
                    formControlName="difference">
              <option *ngFor="let option of extraRangeOptions"
                      [value]="option">{{ option }}</option>
            </select>
            Earlier
            <button class="btn btn-outline-secondary ml-2"
                    [disabled]="!extraRangePossible()"
                    type="submit">Add</button>

          </form>
          <span class="help-block"
                *ngIf="extraRanges.length === MAX_NB_EXTRA_RANGES">{{ 'Maximum of ' + MAX_NB_EXTRA_RANGES + ' extra ranges reached.' }}</span>
        </div>
      </div>

    </div>





  </div>
</div>
