@import 'src/styles.scss';

app-date-time-range-picker {
  position: absolute;
  top: 8px;
  right: 23px;
  z-index: 1;
}

app-floating-action-button {
  width: 20px;
}

#spinner {
  height: 450px;
}


.hidden {
  display: none;
}

