@import 'src/styles.scss';

app-date-time-range-picker {
  position: absolute;
  top: 4px;
  right: 18px;
  z-index: 1;
}

app-share-button {
  margin-right: 416px;
}



app-number-input {
  width: 115px;
}

#spinner {
  height: 465px;
}

#more-options-btn {
  margin-top: -20px;
  z-index: 20;
}

#more-options-btn:hover {
  fa-icon {
    color: white;
    transition: color .15s ease-in-out;
  }
}

.fadeInLeft {
  animation-duration: 0.5s;
}

#remove-icon {
  color: $danger;
}

#remove-icon:hover {
  color: #c22f3d;
}

.help-block {
  font-size: 80%;
  color: #dc3545;
}

