<div #chartWrapper
     class="d-flex flex-column justify-content-center shadow bg-white rounded p-2">

  <app-date-time-range-picker #datetimerange
                              [initialDateRange]="initDateRange"
                              [timeSelectionPossible]="false"
                              (datetimeRangeSelected)="updateForRange($event)">
  </app-date-time-range-picker>
  <div id="spinner"
       *ngIf="isLoading"
       class="d-flex justify-content-center align-items-center">
    <app-spinner [color]="'#007bff'"></app-spinner>
  </div>
  <apx-chart #chart
             [class.hidden]="isLoading"
             [series]="chartOptions.series"
             [chart]="chartOptions.chart"
             [xaxis]="chartOptions.xaxis"
             [stroke]="chartOptions.stroke"
             [dataLabels]="chartOptions.dataLabels"
             [yaxis]="chartOptions.yaxis"
             [labels]="chartOptions.labels"
             [legend]="chartOptions.legend"
             [title]="chartOptions.title"
             [subtitle]="chartOptions.subtitle"
             [tooltip]="chartOptions.tooltip"
             [noData]="chartOptions.noData"></apx-chart>
  <app-floating-action-button class="align-self-end" [mainButton]="'plus'" [mainButtonName]="'Add a chart'"></app-floating-action-button>
</div>
