 @import 'src/styles.scss';

p {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0;
}


// Copy from shareButtonComponent
a.chart-option {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    color: #007bff;
    font-size: small;
    margin-left: 2px;
  }

  fa-icon {
    color: #007bff;
  }
}

a.chart-option:hover {
  text-decoration: none;

  span {
    color: #0056b3;
  }

  fa-icon {
    color: #0056b3;
  }
}


.positive {
  color: $success;
}

.negative {
  color: $danger;
}


#otherMetric {
  display: none;
}


tr:hover {
  #otherMetric {
    display: block;
  }

  #firstMetric {
    display: none !important;
  }
}


#summary-tooltip {
  font-family: inherit;
  font-size: 12px;
  display:block;
  position:fixed;
  overflow:hidden;

  .card-header {
    font-weight: bold;
  }
}




