<div class="h-100 shadow bg-white rounded d-flex flex-column">

  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">Summary</h5>
    <a class="ml-auto mr-3 chart-option"
       [routerLink]="['/compare', 'daily-totals']">
      <fa-icon icon="chart-area"></fa-icon>
      <span>Explore!</span>
    </a>
  </div>

  <div class="chartcard-body d-flex flex-grow-1">

    <div id="spinner"
         *ngIf="isLoading()"
         class="flex-grow-1 d-flex align-items-center justify-content-center">
      <app-spinner color="#007bff"></app-spinner>
    </div>

    <table class="table table-sm mt-1"
           *ngIf="!isLoading()">
      <thead>
        <tr>
          <th scope="col"
              class="col-4">Date & time</th>
          <th scope="col"
              class="col-3 noselect"
              style="cursor: pointer;"
              (click)="changeComparison()">
            <div class="d-flex flex-row">
              {{ currentComparisonName }}
              <app-info-hover [id]="'summary'"
                              [tooltipTitle]="currentComparisonName"
                              [offsetY]="20">
                <div class="d-flex flex-column align-items-center">
                  {{ currentComparisonExplanation }}
                  <span class="text-muted">Click for other comparisons!</span>
                </div>
              </app-info-hover>
            </div>
          </th>
          <th scope="col"
              class="col-5">
            <div class="d-flex flex-row">
              Total usage in kWh
              <p class="ml-auto mb-0"
                 style="font-size: 1rem;
              line-height: 1.5;">
                Versus <u>this week's avg.</u>
              </p>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of summaryEntries; let i = index">

          <th scope="row"
              class="col-4">{{ entry.name }}</th>

          <td class="col-3">
            {{ entry.alternateValue.toFixed(0) }} {{ currentComparisonMetric }}
          </td>

          <td class="col-5">
            <div class="d-flex flex-row">
              <u *ngIf="entry.name === 'This week\'s average usage'">
                {{ entry.value }} {{ entry.metric }}</u>
              <span *ngIf="entry.name !== 'This week\'s average usage'">
                {{ entry.value }} {{ entry.metric }}</span>
              <p *ngIf="entry.showPercentage"
                 class="ml-auto"
                 [ngClass]="calculatePercentage(entry) > 0 ? 'negative' : 'positive'">
                {{ calculatePercentageString(entry) }}%
              </p>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
