 @import 'src/styles.scss';

p {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0;
}

a {
  fa-icon {
    color: #007bff;
  }
}

a:hover {
  text-decoration: none;

  fa-icon {
    color: #0056b3;
  }
}

.positive {
  color: $success;
}

.negative {
  color: $danger;
}


#otherMetric {
  display: none;
}


tr:hover {
  #otherMetric {
    display: block;
  }

  #firstMetric {
    display: none !important;
  }


}
