fa-icon {
  font-size: 8px;
  transition: color .15s ease-in-out;
}

.btn:hover > fa-icon {
  color: white;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
