@import 'src/styles.scss';

.list-item-prepend {
  background-color: $medium-light-grey;
}

.highlighted {
  background-color: hsla(211, 100%, 83%, 1);
  animation: 1.25s infinite alternate ease-out breathing-color;
}

@keyframes breathing-color {
  from {
    background-color: hsla(211, 100%, 83%, 1);
  }

  to {
    background-color: hsla(211, 100%, 95%, 1);
  }
}

p {
  text-align: left;
}


.checked {
  animation: pop 0.2s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}
