@import 'src/styles.scss';

.list-item-prepend {
  background-color: $medium-light-grey;
}

.highlighted {
  background-color: $primary-lighter;
  animation: 1.25s infinite alternate ease-out breathing-color;
}

@keyframes breathing-color {
  from {
    background-color: $primary-lighter;
  }

  to {
    background-color: $primary;
  }
}

p {
  text-align: left;
}


.checked {
  animation: pop 0.25s linear 1;
}

@keyframes pop {
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.075);
  }
}
