@import 'src/styles.scss';

svg {
  width: 100%;
  height: auto;
  max-height: 30vh;
}

.map-text {
  font-size: 0.3rem;
  font-weight: 400;
}


.centered {
  position: absolute;
}

.hidden {
  visibility: hidden;
}



#canvas {
  fill: $light-grey;
  stroke: $medium-dark-grey;
  stroke-width: 2;
}


svg text {
  font-size: 0.5rem;
  visibility: visible;
}

svg g:hover text {
  visibility: visible;
}



.room {
  cursor: pointer;
}


.room:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}


.my-tooltip {
  text-decoration:none;
  position:relative;
}


#map-tooltip {
  font-family: inherit;
  font-size: 0.8rem;
  display:block;
  position:fixed;
  overflow:hidden;

  .card-header {
    font-weight: bold;
  }


  .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }
}


// ===========================================================
// PULSE ANIMATIONS
// ===========================================================

@keyframes pulseSuperFast {
  0% {
    stroke-width: 0;
    stroke-opacity: 0.99;
  }
  70% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}

.pulsate-super-fast {
  animation-name: pulseSuperFast;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}



@keyframes pulseFast {
  0% {
    stroke-width: 0;
    stroke-opacity: 0.99;
  }
  60% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  80% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}


.pulsate-fast {
  animation-name: pulseFast;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}



@keyframes pulseMedium {
  0% {
    stroke-width: 0;
    stroke-opacity: 0.99;
  }
  30% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  40% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}

.pulsate-medium {
  animation-name: pulseMedium;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}



@keyframes pulseSlow {
  0% {
    stroke-width: 0;
    stroke-opacity: 0.99;
  }
  18% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  25% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}

.pulsate-slow {
  animation-name: pulseSlow;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}




@keyframes pulseSuperSlow {
  0% {
    stroke-width: 0;
    stroke-opacity: 0.99;
  }
  14% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  20% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}
.pulsate-super-slow {
  animation-name: pulseSuperSlow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
