<div class="h-100 shadow bg-white rounded">

  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">Usage in last 30 minutes floorplan</h5>
    <div class="ml-auto mr-3">
      <app-info-hover [id]="'statik-map-chart'"
                      [offsetY]="20"
                      [iconClass]="'large-primary'"
                      [tooltipTitle]="'What do I see here?'">
        <div class="d-flex flex-column">
          <span>This chart shows the <b>office floorplan</b>. Each room gets a color from green to yellow to orange to red.</span>
          <span>This <b>coloring</b> represents the amount of <b>energy (kWh) used</b> in that room for the <b>last 30 minutes</b>.</span>
          <span><b>Clicking a room</b> will <b>display detailed info for each sensor</b> in that room.</span>
          <span>The rooms will also pulsate faster the more energy was used these last 30 minutes.</span>
          <span class="text-muted mt-2">A Watt hour (Wh) is a unit of energy, which tells us about the amount of work that has been done by some devices.</span>
          <span class="text-muted">A kWh or kilo Watt hour is just 1000 Watt hours. Watt hours refer to enegy used / work done for some time period.</span>
          <span class="text-muted">For example: a 60 Watt lightbulb that is on for 1 hour will consume 1 Wh of energy.</span>
        </div>
      </app-info-hover>
    </div>
  </div>


  <div class="d-flex justify-content-center align-items-center p-3" (click)="handleMapClick()">
    <!-- https://www.ofoct.com/image-converter/svg-optimizer.html -->
    <svg xmlns="http://www.w3.org/2000/svg"
         [class.hidden]="isLoading"
         width="1015"
         height="485"
         viewBox="0 0 268.552 128.323"
         version="1.1"
         id="svg8">

      <g id="layer1"
         transform="translate(-16.278 -123.295)">


        <path id="rect4518"
              fill="none"
              fill-opacity="1"
              stroke="#000"
              stroke-width="1.323"
              stroke-miterlimit="9.87"
              stroke-opacity="1"
              d="M16.939 123.957h267.229v127H16.939z" />

        <g (mouseenter)="showTooltipFor('vergader1')"
           (mouseleave)="hideTooltip()"
           class="room">

          <path id="vergader1-pulse"
                *ngIf="!showingTooltipFor('vergader1')"
                [ngClass]="puslatingClass.vergader1"
                [attr.stroke]="colors.vergader1"
                fill-opacity="1"
                stroke-miterlimit="9.87"
                stroke-opacity="1"
                d="M215.377 123.957h68.792v55.562h-68.792z" />

          <path id="vergader1"
                [attr.fill]="colors.vergader1"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".926"
                stroke-miterlimit="9.87"
                stroke-opacity="1"
                d="M215.377 123.957h68.792v55.562h-68.792z" />



          <text xml:space="preserve"
                style="line-height:1.25"
                x="229.64"
                y="153.341"
                id="text4700"
                font-style="normal"
                font-weight="400"
                font-size="1rem"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                [attr.fill]="textColors.vergader1"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698"
                   x="227.5"
                   y="153.341"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Vergaderzaal 1</tspan>
          </text>

          <path d="M221.991 179.52h9.26v-9.261c-4.63 0-9.26 4.63-9.26 9.26z"
                id="path4584-2"
                fill="none"
                stroke="black"
                stroke-width=".529"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="4"
                stroke-opacity="1" />

          <rect id="rect4690"
                width="50.271"
                height="34.396"
                x="225.96"
                y="131.894"
                rx="2.117"
                ry="2.117"
                fill="none"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

        </g>

        <g (mouseenter)="showTooltipFor('keuken')"
           (mouseleave)="hideTooltip()"
           class="room">


          <rect id="keuken-bar-pulse"
                *ngIf="!showingTooltipFor('keuken')"
                width="11.906"
                height="54.24"
                x="190.241"
                y="125.28"
                rx="2.117"
                ry="2.17"
                [ngClass]="puslatingClass.keuken"
                [attr.stroke]="colors.keuken"
                stroke-width=".536"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <rect id="keuken-bar"
                width="11.906"
                height="54.24"
                x="190.241"
                y="125.28"
                rx="2.117"
                ry="2.17"
                [attr.fill]="colors.keuken"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".536"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <text xml:space="preserve"
                style="line-height:1.25"
                x="193.809"
                y="186.823"
                id="text4700-4"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                fill="#000"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-8"
                   x="193.809"
                   y="186.823"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Keuken</tspan>
          </text>

        </g>

        <g (mouseenter)="showTooltipFor('vergader3')"
           (mouseleave)="hideTooltip()"
           class="room">

          <path id="vergader3-pulse"
                *ngIf="!showingTooltipFor('vergader3')"
                [ngClass]="puslatingClass.vergader3"
                [attr.stroke]="colors.vergader3"
                fill-opacity="1"
                stroke-miterlimit="9.87"
                stroke-opacity="1"
                d="M16.939 192.748h55.563v58.208H16.939z" />

          <path id="vergader3"
                fill-opacity="1"
                stroke="#000"
                [attr.fill]="colors.vergader3"
                stroke-width=".926"
                stroke-miterlimit="9.87"
                stroke-opacity="1"
                d="M16.939 192.748h55.563v58.208H16.939z" />

          <text xml:space="preserve"
                style="line-height:1.25"
                x="24.233"
                y="248.565"
                id="text4700-8-6-6"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                [attr.fill]="textColors.vergader3"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-1-8-6"
                   x="20"
                   y="248.565"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Vergaderzaal 3</tspan>
          </text>

          <path d="M57.95 192.748h9.26v9.26c-4.63 0-9.26-4.63-9.26-9.26z"
                id="path4584-2-0"
                fill="none"
                stroke="black"
                stroke-width=".529"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="4"
                stroke-opacity="1" />


          <rect id="rect4688"
                width="34.396"
                height="39.688"
                x="27.522"
                y="203.332"
                rx="2.117"
                ry="2.117"
                fill="none"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

        </g>

        <g (mouseenter)="showTooltipFor('vergader2')"
           (mouseleave)="hideTooltip()"
           class="room">

          <path id="vergader2-pulse"
                *ngIf="!showingTooltipFor('vergader2')"
                [ngClass]="puslatingClass.vergader2"
                [attr.stroke]="colors.vergader2"
                fill-opacity="1"
                stroke-miterlimit="9.87"
                stroke-opacity="1"
                d="M16.94 123.957h41.01v54.309H35.46v14.482H16.94z" />

          <path d="M16.94 123.957h41.01v54.309H35.46v14.482H16.94z"
                id="vergader2"
                [attr.fill]="colors.vergader2"
                stroke="#000"
                stroke-width=".926"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="4"
                stroke-opacity="1"
                fill-opacity="1" />

          <text xml:space="preserve"
                style="line-height:1.25"
                x="37.48"
                y="184.978"
                id="text4700-8-6"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                fill="#000"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-1-8"
                   x="37.48"
                   y="188"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Vergaderzaal 2</tspan>
          </text>

          <path d="M26.2 188.78h9.26v-9.26c-4.63 0-9.26 4.63-9.26 9.26z"
                id="path4584-2-6"
                fill="none"
                stroke="black"
                stroke-width=".529"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="4"
                stroke-opacity="1" />

          <rect id="rect4659"
                width="23.813"
                height="35.719"
                x="26.199"
                y="131.894"
                rx="2.117"
                ry="2.117"
                fill="none"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

        </g>

        <g (mouseenter)="showTooltipFor('bureau1')"
           (mouseleave)="hideTooltip()"
           class="room">

          <rect id="bureau1-pulse"
                *ngIf="!showingTooltipFor('bureau1')"
                width="97.896"
                height="15.875"
                x="83.085"
                y="137.186"
                rx="2.117"
                ry="2.117"
                [attr.stroke]="colors.bureau1"
                [ngClass]="puslatingClass.bureau1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <rect id="bureau1"
                width="97.896"
                height="15.875"
                x="83.085"
                y="137.186"
                rx="2.117"
                ry="2.117"
                [attr.fill]="colors.bureau1"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <text xml:space="preserve"
                style="line-height:1.25"
                x="118.601"
                y="147.359"
                id="text4700-8"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                [attr.fill]="textColors.bureau1"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-1"
                   x="118.601"
                   y="147.359"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Bureaus 1</tspan>
          </text>

        </g>

        <g (mouseenter)="showTooltipFor('bureau2')"
           (mouseleave)="hideTooltip()"
           class="room">

          <rect id="bureau2-pulse"
                width="97.896"
                *ngIf="!showingTooltipFor('bureau2')"
                height="15.875"
                x="83.085"
                y="213.915"
                rx="2.117"
                ry="2.117"
                [attr.stroke]="colors.bureau2"
                [ngClass]="puslatingClass.bureau2"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <rect id="bureau2"
                width="97.896"
                height="15.875"
                x="83.085"
                y="213.915"
                rx="2.117"
                ry="2.117"
                [attr.fill]="colors.bureau2"
                fill-opacity="1"
                stroke="#000"
                stroke-width=".529"
                stroke-miterlimit="9.87"
                stroke-opacity=".472" />

          <text xml:space="preserve"
                style="line-height:1.25"
                x="118.183"
                y="224.076"
                id="text4700-8-1"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                [attr.fill]="textColors.bureau2"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-1-6"
                   x="118.183"
                   y="224.076"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Bureaus 2</tspan>
          </text>

        </g>

        <g (mouseenter)="showTooltipFor('others')"
           (mouseleave)="hideTooltip()"
           class="room">

           <circle id="others-pulse"
                  cx="270.219"
                  cy="238.351"
                  r="10.583"
                  *ngIf="!showingTooltipFor('others')"
                  [attr.stroke]="colors.others"
                  [ngClass]="puslatingClass.others"
                  stroke-width=".529"
                  stroke-miterlimit="9.87"
                  stroke-opacity="1" />

          <circle id="others"
                  cx="270.219"
                  cy="238.351"
                  r="10.583"
                  [attr.fill]="colors.others"
                  fill-opacity="1"
                  stroke="#000"
                  stroke-width=".529"
                  stroke-miterlimit="9.87"
                  stroke-opacity="1" />
          <text xml:space="preserve"
                style="line-height:1.25"
                x="264.122"
                y="240.537"
                id="text4700-4-2"
                font-style="normal"
                font-weight="400"
                font-size="12"
                font-family="Roboto"
                letter-spacing="0"
                word-spacing="0"
                [attr.fill]="textColors.others"
                fill-opacity="1"
                stroke="none"
                stroke-width=".265">
            <tspan id="tspan4698-8-5"
                   x="263"
                   y="240.537"
                   [class.hidden]="isLoading"
                   font-style="normal"
                   font-variant="normal"
                   font-weight="400"
                   font-stretch="normal"
                   font-size="7"
                   font-family="Roboto"
                   stroke-width=".265">Rest</tspan>
          </text>

        </g>


        <!-- main door -->
        <path d="M284.168 204.655v-9.26h-9.26c0 4.63 4.63 9.26 9.26 9.26z"
              id="path4584-2-1"
              fill="none"
              stroke="black"
              stroke-width=".529"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="4"
              stroke-opacity="1" />
        <path d="M284.168 204.655v9.26h-9.26c0-4.63 4.63-9.26 9.26-9.26z"
              id="path4584-2-1-0"
              fill="none"
              stroke="black"
              stroke-width=".529"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="4"
              stroke-opacity="1" />








      </g>
    </svg>



    <app-spinner class="centered"
                 *ngIf="isLoading"></app-spinner>
  </div>
</div>



<span id="map-tooltip"
      *ngIf="tooltipShown"
      class="rounded bg-white border">
  <div class="card-header p-1">
    {{ tooltipTitle }}
  </div>
  <div class="p-2 d-flex flex-row align-items-center">
    <span class="dot mr-2"
          [style.background-color]="tooltipColor"></span>
    Used energy last 30 minutes: <b class="ml-1">{{ tooltipKwh.toFixed(3) }} kWh</b>
  </div>
</span>

<app-extra-info-modal #mapExtraInfoModal></app-extra-info-modal>
