@import 'src/styles.scss';

svg {
  width: 100%;
  height: auto;
  max-height: 30vh;
}

.map-text {
  font-size: 0.3rem;
  font-weight: 400;
}


.centered {
  position: absolute;
}

.hidden {
  visibility: hidden;
}



#canvas {
  fill: $light-grey;
  stroke: $medium-dark-grey;
  stroke-width: 2;
}


svg text {
  font-size: 0.5rem;
  visibility: visible;
}

svg g:hover text {
  visibility: visible;
}



.room {
  cursor: pointer;
}


.room:hover {
  opacity: 0.5;
}


.my-tooltip {
  text-decoration:none;
  position:relative;
}



#map-tooltip {
  font-family: inherit;
  font-size: 12px;
  display:block;
  position:fixed;
  overflow:hidden;

  .card-header {
    font-weight: bold;
  }


  .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }
}


@keyframes pulse{
  0% {
    stroke-width: 0;
    stroke-opacity: 0.95;
  }
  70% {
    stroke-width: 10px;
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
  }
}

.pulsate-fast {
  animation-name: pulse;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

.pulsate-medium {
  animation-name: pulse;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

.pulsate-slow {
  animation-name: pulse;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
