<div #chartWrapper
     class="d-flex flex-column justify-content-center p-2">
  <div id="spinner"
       *ngIf="isLoading"
       class="d-flex justify-content-center align-items-center">
    <app-spinner></app-spinner>
  </div>
  <apx-chart #chart
             [class.my-hidden]="isLoading"
             [series]="chartOptions.series"
             [colors]="chartOptions.colors"
             [chart]="chartOptions.chart"
             [xaxis]="chartOptions.xaxis"
             [stroke]="chartOptions.stroke"
             [dataLabels]="chartOptions.dataLabels"
             [yaxis]="chartOptions.yaxis"
             [labels]="chartOptions.labels"
             [legend]="chartOptions.legend"
             [tooltip]="chartOptions.tooltip"
             [noData]="chartOptions.noData"></apx-chart>
</div>
