@import 'src/styles.scss';

:host {
  width: 100%
}

.wrapper {
  width: inherit;
}

app-date-time-range-picker {
  position: absolute;
  top: 8px;
  right: 23px;
  z-index: 1;
}

#spinner {
  height: 300px;
}


.hidden {
  display: none;
}

