<div class="wrapper px-4">
  <div class="row py-2">
    <div class="col-sm-12 d-flex flex-column shadow bg-white rounded">
      <app-date-time-range-picker class=""
                              #datetimerange
                              [initialDateRange]="initialDateRange"
                              (datetimeRangeSelected)="updateForRange($event)">
  </app-date-time-range-picker>
      <app-line-chart #lineChart [initialDateRange]="initialDateRange" [initialTimeRange]="initialTimeRange"></app-line-chart>
      <app-fuse-bar-chart #barChart  [initialDateRange]="initialDateRange" [initialTimeRange]="initialTimeRange"></app-fuse-bar-chart>
    </div>
  </div>

</div>
