<app-date-time-range-picker #datetimerange
                              [initialDateRange]="[initalDatetimeRange.fromDate, initalDatetimeRange.toDate]"
                              (datetimeRangeSelected)="updateForRange($event)"></app-date-time-range-picker>

<div class="p-3">
  <div class="shadow bg-white rounded">

    <div class="chartcard-title">
      <h5 class="card-title font-weight-light">Total usage distribution</h5>
      <hr>
    </div>

    <div class="chartcard-body">
      <app-line-chart #lineChart></app-line-chart>
    </div>
  </div>


  <div class="shadow bg-white rounded mt-4">

    <div class="chartcard-title">
      <h5 class="card-title font-weight-light">Usage distribution per circuit</h5>
      <hr>
    </div>

    <div class="chartcard-body">
      <app-fuse-heatmap #heatMap></app-fuse-heatmap>
    </div>
  </div>

</div>

