<div class="border-bottom border-left-0 border-right-0 border-top-0"
     id="toggle-div"
     data-toggle="collapse"
     [attr.data-target]="'#collapseable' + id"
     (click)="isOpened = !isOpened">
  <fa-icon *ngIf="!isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-up"></fa-icon>
  Day by day usage
</div>

<div class="collapse"
     [id]="'collapseable' + id">
  <div class="card-body">

    <div class="w-100 d-flex flex-row align-items-center justify-content-center my-5"
         *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>

    <div class="row"
         [class.hidden]="isLoading">
      <div class="col-lg-6 col-12">



        <div *ngIf="data.length === 0"
             class="d-flex justify-content-center align-items-center h-100">
          Data is unavailable
        </div>

        <table *ngIf="data.length > 0"
               class="table table-sm">
          <thead>
            <tr>
              <th scope="col"
                  class="w-50">Date</th>
              <th scope="col"
                  class="w-50">Total usage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of data">
              <th scope="row">{{ entry.date }}</th>
              <td>{{ entry.value }} kWh</td>
            </tr>
            <tr id="lastRow">
              <th scope="row">Total sum</th>
              <td>{{ getTotalSum() }} kWh</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6 col-12 position-relative">
        <apx-chart #chart
                   [class.hidden]="isLoading"
                   [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [colors]="chartOptions.colors"
                   [dataLabels]="chartOptions.dataLabels"
                   [grid]="chartOptions.grid"
                   [plotOptions]="chartOptions.plotOptions"
                   [yaxis]="chartOptions.yaxis"
                   [xaxis]="chartOptions.xaxis"
                   [title]="chartOptions.title"
                   [tooltip]="chartOptions.tooltip"
                   [legend]="chartOptions.legend"
                   [noData]="chartOptions.noData"></apx-chart>
        <div id="dbd-tooltip"
             class="mr-3">
          <app-info-hover [id]="'explore-4-dbd-bar-chart'"
                          [offsetY]="20"
                          [iconClass]="'large-dark'"
                          [tooltipTitle]="'What do I see here?'">
            <div class="d-flex flex-column p-2">
              <span>This chart shows on the <b>y-axis the number of days</b> that have consumed <b>the amount of kWhs of
                  energy specified on the x-axis</b>.</span>
              <span>It shows <b>how the amount of energy used each day (table on the left) is distributed</b> and could show some Gaussian curve around some average.</span>
              <span>You can edit the timeframe via the button in the top right.</span>
              <hr class="m-2">
              <div class="extra-info-tooltip">
                <span>A Watt hour (Wh) is a unit of energy, which tells us about the amount of
                  work that has been done by some devices.</span>
                <span>A kWh or kilo Watt hour is just 1000 Watt hours. Watt hours refer to enegy used /
                  work done for some time period.</span>
                <span>For example: a 60 Watt lightbulb that is on for 1 hour will consume 60 Wh = 0.06 kWh of
                  energy.</span>
              </div>
            </div>
          </app-info-hover>
        </div>
      </div>
    </div>



  </div>
</div>
