@import 'src/styles.scss';

// Chart share & explore buttons -----
a.chart-option {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    color: $primary;
    font-size: small;
    margin-left: 2px;
  }

  fa-icon {
    color: $primary;
  }
}

a.chart-option:hover {
  text-decoration: none;

  span {
    color: $primary-lighter;
  }

  fa-icon {
    color: $primary-lighter;
  }
}
