<div class="shadow bg-white rounded d-flex flex-column">
  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">Energy you saved via checklist actions</h5>
  </div>

  <div class="chartcard-body flex-grow-1">
    <apx-chart #chart
           [class.my-hidden]="isLoading"
           [series]="chartOptions.series"
           [chart]="chartOptions.chart"
           [xaxis]="chartOptions.xaxis"
           [stroke]="chartOptions.stroke"
           [colors]="chartOptions.colors"
           [dataLabels]="chartOptions.dataLabels"
           [yaxis]="chartOptions.yaxis"
           [labels]="chartOptions.labels"
           [legend]="chartOptions.legend"
           [tooltip]="chartOptions.tooltip"
           [noData]="chartOptions.noData"
           [markers]="chartOptions.markers"></apx-chart>
  </div>
</div>
