<div class="h-100 shadow bg-white rounded d-flex flex-column">

  <div class="chartcard-title">
    <h5 class="card-title font-weight-light">Today's usage per category</h5>
    <hr>
  </div>

  <div class="chartcard-body flex-grow-1"
       #chartWrapper>

    <div id="spinner"
         [style.height]="spinnerHeight"
         *ngIf="isLoading"
         class="d-flex justify-content-center align-items-center">
      <app-spinner [color]="'#007bff'"></app-spinner>
    </div>

    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [dataLabels]="chartOptions.dataLabels"
               [stroke]="chartOptions.stroke"
               [legend]="chartOptions.legend"
               [colors]="chartOptions.colors"
               [plotOptions]="chartOptions.plotOptions"
               [yaxis]="chartOptions.yaxis"
               [xaxis]="chartOptions.xaxis"
               [noData]="chartOptions.noData"
               [tooltip]="chartOptions.tooltip"></apx-chart>

    <p class="text-muted m-0">Values not yet correct</p>
  </div>
</div>
