<div class="d-flex flex-row align-items-center justify-content-center"
      style="height: 125px;"
     *ngIf="!dataReady">
  <app-spinner></app-spinner>
</div>


<apx-chart *ngIf="dataReady"
           [series]="chartOptions.series"
           [colors]="chartOptions.colors"
           [chart]="chartOptions.chart"
           [xaxis]="chartOptions.xaxis"
           [stroke]="chartOptions.stroke"
           [dataLabels]="chartOptions.dataLabels"
           [yaxis]="chartOptions.yaxis"
           [labels]="chartOptions.labels"
           [legend]="chartOptions.legend"
           [tooltip]="chartOptions.tooltip"
           [noData]="chartOptions.noData"></apx-chart>
