<div class="h-100 shadow-sm bg-white rounded">

  <div class="chartcard-title">
    <h5 class="card-title font-weight-light">Today's usage</h5>
    <hr>
  </div>

  <div class="chartcard-body"
       #chartWrapper>

    <div id="spinner"
         [style.height]="spinnerHeight"
         *ngIf="isLoading"
         class="d-flex justify-content-center align-items-center">
      <app-spinner [color]="'#007bff'"></app-spinner>
    </div>

    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [xaxis]="chartOptions.xaxis"
               [stroke]="chartOptions.stroke"
               [dataLabels]="chartOptions.dataLabels"
               [yaxis]="chartOptions.yaxis"
               [labels]="chartOptions.labels"
               [legend]="chartOptions.legend"
               [tooltip]="chartOptions.tooltip"
               [noData]="chartOptions.noData"></apx-chart>
  </div>
</div>
