@import 'src/styles.scss';

.back-button {
  font-size: 32px;
  margin-right: 8px;
  color: $medium-grey;
}

.back-button:hover {
  color: $dark-grey;
}

.spacer {
  padding: 20px;
  width: 100%;
  background-color: $light-grey;
}

.profile-icon {
  padding-right: 10px;
}

#like-icon {
  color: white;
  margin-right: 4px;
}

#comment-icon {
  color: $primary;
  margin-right: 4px;
}

#comment-btn:hover > #comment-icon {
  color: white;
}


.post-pic {
  //
}

// Voor <= 991px wordt deze regel toegepast
@media (max-width: 991.98px) {
  .post-pic {
    max-width: 100%;
    height: auto;
  }
}
