<div id="main" class="d-flex justify-content-center pt-1 pt-sm-2 pb-2 pb-sm-3 px-2 px-sm-3 px-md-5">

  <ng-container *ngIf="post$ | async as post; else loading">
    <div id="card"
         class="shadow bg-white rounded my-3">

      <!-- HEADER -->
      <div class="chartcard-title d-flex flex-row align-items-center">
        <div class="m-2 d-flex flex-row align-items-center">
          <button class="invisible-btn">
            <fa-icon icon="chevron-circle-left"
                     class="back-button"
                     (click)="goBack()"></fa-icon>
          </button>
          <app-avatar-component></app-avatar-component>
          <h6 id="userName"
              class="my-0 ml-2">{{ allUsers.getNameOfUser(post.uid) }}</h6>
        </div>

        <div class="ml-auto my-1 mr-4">
          <app-social-count [postOrComment]="post"
                            [liked]="hasLikedPost()"
                            (likePressed)="likePost()"
                            (commentPressed)="goToComment()"></app-social-count>
        </div>
      </div>

      <div class="chartcard-body d-flex flex-column px-4 py-2">
        <h3 class="pt-2">{{ post.title }}</h3>

        <div class="d-flex flex-column">
          <div *ngIf="post.imgUrl !== ''"
               id="img-div"
               class="mb-2">
               <app-forum-post-image [imgUrl]="post.imgUrl"></app-forum-post-image>
          </div>
          <p>{{ post.content }}</p>
        </div>
      </div>


      <!-- LIKE & COMMENT BUTTON -->
      <div class="spacer d-flex flex-sm-row flex-column py-2 px-4">

        <button class="btn social-btn flex-grow-1 mr-sm-1 mr-0 mb-sm-0 mb-1"
                [ngClass]="hasLikedPost() ? 'liked-btn' : ''"
                (click)="likePost()">
          <div id="like-icon">
            <fa-icon [icon]="hasLikedPost() ? ['fas', 'thumbs-up'] : ['far', 'thumbs-up']"
                     class="social-btn-icon"
                     [ngClass]="hasLikedPost() ? 'liked-btn-icon' : ''"></fa-icon>
            Like
          </div>
        </button>
        <button class="btn social-btn btn-outline-primary flex-grow-1 ml-sm-1 ml-0"
                (click)="goToComment()">
          <fa-icon [icon]="['far', 'comment']"
                   class="social-btn-icon"></fa-icon>
          Comment
        </button>
      </div>

      <!-- COMMENTS -->
      <div class="card-body">

        <div *ngFor="let commentID of post.comments"
             class="row py-1">
          <div class="col">
            <app-comment [commentID]="commentID"
                         (openModal)="openModalFor($event)"></app-comment>
          </div>
        </div>

        <div *ngIf="post.comments.length === 0" class="text-center text-muted">
          No comments here!
        </div>
      </div>


      <!-- COMMENT FORM -->
      <div class="spacer d-flex flex-row w-100 py-2 px-4"
           [class.highlighted]="commentFormHighlighted">
        <div class="profile-icon">
          <app-avatar-component [borderColor]="'grey'"
                                [borderActive]="true"
                                [size]="1"></app-avatar-component>
        </div>

        <form class="form-inline flex-grow-1"
              [formGroup]="commentForm"
              (ngSubmit)="submitComment()">

          <div class="d-flex flex-md-row flex-column flex-grow-1 mr-2">
            <div class="form-group flex-grow-1 m-0">
              <textarea class="form-control flex-grow-1"
                        formControlName="content"
                        rows="3"></textarea>
            </div>

            <button class="btn btn-primary ml-md-2 ml-0 my-md-0 my-2 align-self-end"
                    id="submit-btn"
                    [disabled]="!commentForm.valid"
                    type="submit">
              <fa-icon [icon]="['far', 'comment']"
                       id="submit-btn-icon"></fa-icon>
              Submit
            </button>
          </div>

        </form>
      </div>

    </div>
  </ng-container>

</div>

<ng-template #loading>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <app-spinner [color]="'#007bff'"></app-spinner>
  </div>
</ng-template>

<!-- Comment to thread modal -->
<div class="modal fade"
     id="commentToThreadModal"
     #modal
     tabindex="-1">

  <app-comment-to-thread [mainCommentID]="modalCommentId"
                         (commentSubmitted)="closeModal()"></app-comment-to-thread>
</div>
