@import 'src/styles.scss';

.back-button {
  font-size: 36px;
  margin-right: 8px;
  color: $medium-grey;
}

.back-button:hover {
  color: $dark-grey;
}


.spacer {
  width: 100%;
  background-color: $light-grey;
}

.highlighted {
  background-color: $medium-grey;
  transition: color .05s ease-in-out;
}

.profile-icon {
  padding-right: 10px;
}

#card {
  width: 900px;
}

.social-btn {
  @include button-outline-variant($dark-grey, darken($dark-grey,4%), lighten($dark-grey,5%), $dark-grey);
  border: 0;

  .social-btn-icon {
    color: $dark-grey;
    margin-right: 4px;
  }
}

.social-btn:hover {
  color: $light-grey;

  .social-btn-icon {
    color: $light-grey;
    transition: color .15s ease-in-out;
  }
}

.liked-btn {
  color: $primary;

  .liked-btn-icon {
    color: $primary;
  }
}

#img-div {
  width: 100%;
}





#submit-btn {
  #submit-btn-icon {
    color: white;
    margin-right: 4px;
  }
}

