<div class="mainContainer">
  <div class="card mt-2">

    <div class="card-header d-flex flex-row">
      <div>Profile pic & username</div>
      <div class="ml-auto"># likes & comments</div>
    </div>


    <div class="card-body">
      <h3>Post title</h3>
    </div>


    <div class="card-body py-0">
      <div class="d-flex flex-lg-row flex-column">
        <div class="text-center mr-lg-3 mb-1 w-100">
          <img src="assets/dummy-pics/dummy.jpg" alt="" class="post-pic">
        </div>
        <div class="flex-shrink-1">
          <p>Quisque in fermentum nulla. Cras ut dapibus libero, nec accumsan purus. Praesent tincidunt tellus id mi
            porta, quis euismod dui mattis. Etiam scelerisque vestibulum rhoncus. Donec commodo dapibus risus non
            viverra. Nulla facilisi. Nullam eu lobortis velit. Curabitur nec tortor interdum, imperdiet odio non,
            consectetur urna. Aliquam finibus leo placerat, dignissim tellus ac, bibendum mi. Vestibulum ante ipsum
            primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Aenean semper pellentesque tincidunt. </p>
        </div>
      </div>
    </div>

    <div class="spacer d-flex flex-md-row flex-column">

      <div class="d-flex flex-row flex-grow-1">
        <div class="profile-icon">
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="15" stroke="black" stroke-width="3" fill="grey" />
          </svg>
        </div>

        <form class="form-inline flex-grow-1">
          <div class="form-group flex-grow-1">
            <textarea class="form-control flex-grow-1" rows="3"></textarea>
          </div>
        </form>
      </div>



      <div class="d-flex flex-md-column flex-row px-md-2 pt-md-0 pt-2 justify-content-md-start justify-content-end">
        <button class="btn btn-primary mb-md-2 mb-0 mr-2 mr-md-0">
          <fa-icon icon="thumbs-up" id="like-icon"></fa-icon>
          Like
        </button>
        <button class="btn btn-outline-primary" id="comment-btn">
          <fa-icon icon="comment" id="comment-icon"></fa-icon>
          Comment
        </button>
      </div>
    </div>

    <div class="card-body">

      <div *ngFor="let comment of dummyThread" class="row py-1">
        <div class="col">
          <app-comment [comment]="comment"></app-comment>
        </div>
      </div>
    </div>


  </div>
</div>
