@import 'src/styles.scss';

#main-card {
  width: 1000px;
}

.back-button {
  font-size: 36px;
  margin-right: 8px;
  color: $medium-grey;
}

.back-button:hover {
  color: $dark-grey;
}




.spacer {
  width: 100%;
  background-color: $light-grey;
}

.profile-icon {
  padding-right: 10px;
}


.social-btn {
  @include button-outline-variant($dark-grey, darken($dark-grey,4%), lighten($dark-grey,5%), $dark-grey);
  border: 0;

  .social-btn-icon {
    color: $dark-grey;
    margin-right: 4px;
  }
}

.social-btn:hover {
  color: $light-grey;

  .social-btn-icon {
    color: $light-grey;
    transition: color .15s ease-in-out;
  }
}

.liked-btn {
  color: $primary;

  .liked-btn-icon {
    color: $primary;
  }
}



.post-pic {
  //
}

@include media-breakpoint-down (lg) {
  .post-pic {
    max-width: 100%;
    height: auto;
  }
}




#submit-btn {
  #submit-btn-icon {
    color: $primary;
    margin-right: 4px;
  }
}

#submit-btn:hover {
  #submit-btn-icon {
    color: $white;
    transition: color .15s ease-in-out;
  }
}
