.input-group {
  width: auto;
}



.custom-day {
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  border-radius: 5px;
  color: white;
}
.custom-day.today {
  font-weight: 900;
}

.custom-day.faded {
  background-color: transparent;
}

.color-backdrop.faded {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  background-color: rgba(2, 117, 216, 0.5);
  border-radius: 0;
}
