<div class="d-flex flex-row">
  <ngb-datepicker #d (dateSelect)="onDateSelection($event)"
    [dayTemplate]="t"
    [displayMonths]="2"
    navigation="arrows"
    outsideDays="hidden"
    [footerTemplate]="footerTemplate">
  </ngb-datepicker>
</div>

<ng-template #t let-date let-focused="focused" let-today="today">
  <span class="custom-day d-flex justify-content-center align-items-stretch"
    [class.focused]="focused"
    [class.range]="isInRangeInclusive(date) || isHovered(date)"
    [class.faded]="isHovered(date) || isInRangeExclusive(date)"
    [class.today]="today"
    (mouseenter)="hoveredDate = date"
    (mouseleave)="hoveredDate = null">
    <span class="color-backdrop flex-grow-1 d-flex align-items-center justify-content-center"
      [class.faded]="isHovered(date) || isInRangeExclusive(date)">
      {{ date.day }}
    </span>
  </span>
</ng-template>


<ng-template #footerTemplate>
  <hr class="my-0">
  <div class="d-flex">
    <app-time-picker></app-time-picker>
  </div>
</ng-template>
