@import 'src/styles.scss';


.icon-div {
  background-color: $medium-light-grey;
}

#datetime-range-input {
  width: 400px;
  border: 3px solid $dark;
}

#datetime-range-input:hover {
  @extend .shadow-sm;
}

// Left / right chevron color
::ng-deep div.ngb-dp-arrow > button {
  color: $secondary;
}
// Left / right chevron hover color
::ng-deep div.ngb-dp-arrow:hover > button {
  color: $secondary;
  opacity: 0.75;
}


.datepicker-wrapper {
  background-color: white;
  border-radius: .25rem;
}

.invalid-range {
  background-color: #f8d7da;
  color: $danger;
}

.dropdown-item {
  font-size: 0.875rem;
}

.dropdown-item:active {
  background-color: $primary-lighter;
  color: $secondary;
}

.dropdown-item:focus {
  background-color: $primary-lighter;
  color: $secondary;
}


// Styles form calendar days

.custom-day {
  height: 2rem;
  width: 2rem;
  user-select: none;
}

.custom-day.focused {
  background-color: #e6e6e6;
  outline: none;
}

.custom-day.range,
.custom-day:hover {
  background-color: $secondary;
  border-radius: 5px;
  color: white;
}

.custom-day.today {
  font-weight: 900;
}

.custom-day.faded {
  background-color: transparent;
}

.color-backdrop.faded {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  background-color: $secondary-lighter;
  border-radius: 0;
}
