<apx-chart #chart
           [class.my-hidden]="isLoading"
           [series]="chartOptions.series"
           [chart]="chartOptions.chart"
           [dataLabels]="chartOptions.dataLabels"
           [stroke]="chartOptions.stroke"
           [legend]="chartOptions.legend"
           [colors]="chartOptions.colors"
           [plotOptions]="chartOptions.plotOptions"
           [title]="chartOptions.title"
           [yaxis]="chartOptions.yaxis"
           [xaxis]="chartOptions.xaxis"
           [noData]="chartOptions.noData"
           [tooltip]="chartOptions.tooltip"></apx-chart>
