<div class="shadow bg-white rounded d-flex flex-column">
  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">How often you did certain checklist actions</h5>
  </div>

  <div class="chartcard-body flex-grow-1">
    <apx-chart #chart
               [class.my-hidden]="isLoading"
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [dataLabels]="chartOptions.dataLabels"
               [stroke]="chartOptions.stroke"
               [legend]="chartOptions.legend"
               [colors]="chartOptions.colors"
               [plotOptions]="chartOptions.plotOptions"
               [yaxis]="chartOptions.yaxis"
               [xaxis]="chartOptions.xaxis"
               [noData]="chartOptions.noData"
               [tooltip]="chartOptions.tooltip"></apx-chart>
  </div>
</div>
