@import 'src/styles.scss';


li {
  padding: 0 0.75rem;
}

.nav-icon {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover > .nav-icon {
  color: rgba(255, 255, 255, 0.75);
}

.nav-link:hover > .active-icon {
  color: white;
}

.active-icon {
  color: white;
}

app-points-badge {
  margin-left: -6px;
}


#checklist-btn-icon {
  color: $light;
}

#checklist-btn:hover > #checklist-btn-icon {
  color: $primary;
  transition: color .15s ease-in-out;
}

#checklist-btn > span {
  color: $light;
}


#checklist-btn:hover > span {
  color: $primary;
  transition: color .15s ease-in-out;
}
