@import 'src/styles.scss';


#logo {
  height: 28px;
}

.navbar {
  background-color: $primary !important;
}

.nav-item {
  padding: 0 0.75rem;

  .nav-link {
    color: $primary-text;
    opacity: 0.75;

    fa-icon {
      color: $primary-text;
      opacity: 0.75;
    }
  }

  .nav-link:hover {
    color: $primary-text;
    opacity: 1;

    fa-icon {
      color: $primary-text;
      opacity: 1;
    }
  }


  .active-link {
    opacity: 1;

    fa-icon {
      opacity: 1;
    }
  }
}

#profile-nav {
  opacity: 1;
}


#profile-nav:hover {
  opacity: 0.9;
}

app-points-badge {
  margin-left: -6px;
}


#checklist-btn-icon {
  color: $secondary;
}

#checklist-btn:hover>#checklist-btn-icon {
  color: $primary;
  transition: color .15s ease-in-out;
}

#checklist-btn>span {
  color: $secondary
}


#checklist-btn:hover>span {
  color: $primary;
  transition: color .15s ease-in-out;
}
