<nav class="navbar navbar-expand-lg">
  <a href="https://www.wattness.com/"
     target="_blank"
     rel="noopener noreferrer">
    <img class="img-fluid p-0 mr-4"
         id="logo"
         src="assets/wattness.svg"
         alt="Wattness logo">
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link d-flex flex-row"
           [routerLink]="['/home']"
           routerLinkActive="active-link">
          <fa-icon icon="home"
                   class="nav-icon py-0 pr-1"></fa-icon>
          Home
        </a>
      </li>
      <li *ngIf="currUser.userHasForumAccess()"
          class="nav-item">
        <a class="nav-link d-flex flex-row"
           [routerLink]="['/forum']"
           routerLinkActive="active-link">
          <fa-icon icon="comments"
                   class="nav-icon py-0 pr-1"></fa-icon>
          Discussion board
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row"
           [routerLink]="['/compare']"
           routerLinkActive="active-link">
          <fa-icon icon="chart-area"
                   class="nav-icon py-0 pr-1"></fa-icon>
          Explore
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row"
           [routerLink]="['/about']"
           routerLinkActive="active-link">
          <fa-icon icon="question-circle"
                   class="nav-icon py-0 pr-1"></fa-icon>
          About
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button id="checklist-btn"
                class="btn btn-outline-secondary p-0"
                (click)="checklist.openChecklistModal()">
          <fa-icon id="checklist-btn-icon"
                   icon="tasks"
                   class="p-1"></fa-icon>
          <span class="mr-2">Checklist</span>
        </button>
      </li>

      <li class="nav-item">
        <a class="nav-link d-flex flex-row p-0"
           id="profile-nav"
           [routerLink]="['/profile']"
           routerLinkActive="active">
          <div class="d-flex flex-row align-items-center">
            <p class="m-0 mr-2">{{ userName }}</p>
            <app-avatar-component [size]="0"></app-avatar-component>
            <app-points-badge [amount]="currUser.getUserScore()"
                              [color]="'info'"></app-points-badge>
          </div>
        </a>
      </li>
    </ul>

  </div>
</nav>

<app-sidebar #checklist></app-sidebar>


<app-tip *ngIf="tips.getCurrentTip()"
         [tip]="tips.getCurrentTip()"
         (openChecklistOnTip)="openChecklistOnCurrentTip()"></app-tip>
