@import 'src/styles.scss';

:host {
  width: 100%
}

.wrapper {
  width: inherit;
}


#spinner {
  height: 331px;
}


.hidden {
  display: none;
}

app-floating-action-button {
  position: absolute;
  z-index: 10;
}
