  <div class="shadow bg-white rounded mb-3">

    <div class="chartcard-title d-flex align-items-center position-relative">
      <h5 class="card-title font-weight-light">Daily total used energy in kWh</h5>
      <app-share-button #shareBtn
                        (shareClicked)="shareChart()"
                        class="ml-auto mr-3"></app-share-button>
      <a id="remove-chart-btn"
         (click)="removeChart()">
        <fa-icon icon="times"></fa-icon>
        <span>Remove chart</span>
      </a>

      <app-date-time-range-picker #datetimerange
                                  [initialDateRange]="initDateRange"
                                  [timeSelectionPossible]="false"
                                  [randomId]="randomId"
                                  [style.z-index]="100 - randomId"
                                  (datetimeRangeSelected)="updateForRange($event)">
      </app-date-time-range-picker>

      <div class="mr-3">
        <app-info-hover [id]="'explore-3-bar-chart' + randomId"
                        [offsetY]="20"
                        [iconClass]="'large-primary'"
                        [tooltipTitle]="'What do I see here?'">
          <div class="d-flex flex-column p-2">
            <span>This chart shows the <b>total energy consumed per day in kWh</b> for each day in <b>the selected
                timeframe</b>.</span>
            <span>It also shows the <b>total and workday averages</b>.</span>
            <span>You can edit the timeframe via the button in the top right.</span>
            <hr class="m-2">
            <div class="extra-info-tooltip">
              <span>A Watt hour (Wh) is a unit of energy, which tells us about the amount of work
                that has been done by some devices.</span>
              <span>A kWh or kilo Watt hour is just 1000 Watt hours. Watt hours refer to enegy used /
                work done for some time period.</span>
              <span>For example: a 60 Watt lightbulb that is on for 1 hour will consume 60 Wh = 0.06 kWh of
                energy.</span>
            </div>
          </div>
        </app-info-hover>
      </div>
    </div>

    <div class="chartcard-body d-flex flex-column"
         #chartWrapper>

      <div id="spinner"
           *ngIf="isLoading"
           class="d-flex justify-content-center align-items-center">
        <app-spinner></app-spinner>
      </div>
      <apx-chart #chart
                 [class.hidden]="isLoading"
                 [series]="chartOptions.series"
                 [chart]="chartOptions.chart"
                 [colors]="chartOptions.colors"
                 [dataLabels]="chartOptions.dataLabels"
                 [plotOptions]="chartOptions.plotOptions"
                 [yaxis]="chartOptions.yaxis"
                 [xaxis]="chartOptions.xaxis"
                 [tooltip]="chartOptions.tooltip"
                 [legend]="chartOptions.legend"
                 [noData]="chartOptions.noData"></apx-chart>


    </div>
  </div>
