<div class="mainContainer">
  <div class="row mainRow">

    <div class="col-lg-7">
      <img class="dummyImg" src="assets/dummy-pics/totale watt today.png" alt="">
    </div>


    <div class="col-lg-5">
      <div class="row">
        <div class="col">
          <img class="dummyImg" src="assets/dummy-pics/word cloud.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img class="dummyImg" src="assets/dummy-pics/summary.png" alt="">
        </div>
      </div>
    </div>


  </div>
</div>

