@import 'src/styles.scss';

#firstRow {
  height: 40vh;
}

#secondRow {
  height: auto;
  margin-top: 30px;
}

app-category-bar-chart {
  width: 300px;
}


@include media-breakpoint-down(sm) {

  app-category-bar-chart {
    width: auto;
  }


  #secondRow {
    height: auto;
    margin-top: 0px;
  }

  #firstRow {
    height: auto;
  }
}


