@import 'src/styles.scss';

.dummyImg {
  height: 95%;
  width: 95%;
}

.mainRow div {
  padding: 0;
  // border: 1px solid red;
}

iframe {
  border: 0px solid black;
}

#today-kwh-div {
  width: auto;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#today-kwh-iframe {
  position: relative;
  // margin-top: -40px;
}

#distribution-div {
  overflow: hidden;
  position: relative;
}


#distribution-iframe {
  position: relative;
  height: 300px;
  margin-top: -38px;
  margin-left: -24px;
}


@include media-breakpoint-up(lg) {
  #today-kwh-div {
    height: auto;
  }

  #distribution-iframe {
    height: auto;
    position: relative;
    margin-top: -38px;
    margin-left: -24px;
  }
}
