<div class="mainContainer d-flex flex-md-row flex-column">

  <div class="row mainRow flex-grow-1 py-2">

    <div id="today-kwh-div" class="col-lg-7 d-flex flex-grow-1 pr-lg-2 pr-0 pb-lg-0 pb-2">
      <iframe id="today-kwh-iframe" class="flex-grow-1" scrolling="no" allowtransparency="true"
        src="https://fr.wikipedia.org/wiki/Main_Page">
        <!-- src="http://localhost:5005/s/thesisstudent/app/kibana#/visualize/edit/243a6af0-588e-11ea-8789-e12a075ad0f8?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fd%2Cto%3Anow%2Fd))"> -->
      </iframe>
      <!-- <iframe id="today-kwh-iframe" class="flex-grow-1" scrolling="no" allowtransparency="true"
        src="https://1f211171c3f54d3ea1f1f4c8071820c7.europe-west1.gcp.cloud.es.io:9243/s/thesisstudent/app/kibana#/visualize/edit/243a6af0-588e-11ea-8789-e12a075ad0f8?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fd%2Cto%3Anow%2Fd))">
      </iframe> -->
      <!-- https://fr.wikipedia.org/wiki/Main_Page -->
    </div>

    <div id="distribution-div" class="col-lg-5 flex-grow-1 d-flex flex-column">

      <iframe id="distribution-iframe"  scrolling="no" class="flex-grow-1 pb-2"
        src="https://fr.wikipedia.org/wiki/Main_Page">
        <!-- src="http://localhost:5005/s/thesisstudent/app/kibana#/visualize/edit/875c0b40-5891-11ea-8789-e12a075ad0f8?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-30m%2Cto%3Anow))"> -->
      </iframe>
      <!-- <iframe id="distribution-iframe"  scrolling="no" class="flex-grow-1"
        src="https://1f211171c3f54d3ea1f1f4c8071820c7.europe-west1.gcp.cloud.es.io:9243/s/thesisstudent/app/kibana#/visualize/edit/875c0b40-5891-11ea-8789-e12a075ad0f8?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-30m%2Cto%3Anow))">
      </iframe> -->

      <app-summary></app-summary>

    </div>


  </div>
</div>
