<div class="d-flex  justify-content-center py-2 h-100">
  <div class="d-flex flex-lg-row flex-column justify-content-center mb-3">

    <div class="p-2 order-lg-1 order-2">
      <app-leaderboard></app-leaderboard>
    </div>


    <div class="order-lg-2 order-1 mx-4">
      <div *ngFor="let i of [1, 2, 3, 4]" class="row">
        <div class="col p-2">
          <app-forum-post-card></app-forum-post-card>
        </div>
      </div>
    </div>


    <div id="your-posts-div" class="p-2 order-lg-2 order-3">
      <app-your-posts-card></app-your-posts-card>
    </div>


  </div>
  <app-forum-bar></app-forum-bar>
</div>
