<div class="d-flex justify-content-center py-2 h-100">
  <div id="main-container"
       class="d-flex flex-xl-row flex-column justify-content-xl-center justify-content-start mb-5 pb-4  flex-grow-1 flex-grow-xl-0">

    <div class="p-2 order-xl-1 order-1">
      <app-leaderboard></app-leaderboard>
    </div>


    <div class="order-xl-2 order-3 mx-4">
      <div *ngFor="let post of forumPosts"
           class="row">
        <div class="col forum-post">
          <app-forum-post-card [post]="post"></app-forum-post-card>
        </div>
      </div>

      <div *ngIf="!fetchedAll"
           id="infiniscroll"
           infiniteScroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="100"
           (scrolled)="fetchMorePosts()">
        <div id="spinner"
             *ngIf="fetching"
             class="d-flex justify-content-center align-items-center my-4">
          <app-spinner [color]="'#007bff'"></app-spinner>
        </div>
      </div>

      <div *ngIf="fetchedAll"
           class="text-muted text-center my-5">
        You've reached the end! There are no more posts...
      </div>
    </div>




    <div id="your-posts-div"
         class="p-2 order-xl-2 order-2">
      <app-your-posts-card></app-your-posts-card>
    </div>


  </div>
  <app-forum-bar (sortBySelected)="freshFetchBy($event)"></app-forum-bar>
</div>
