@import 'src/styles.scss';


app-leaderboard, app-your-posts-card {
  width: auto;
}

#your-posts-div {
  margin: 0.3rem 0;
}

.row {
  max-width: 600px;
}

#spinner {
  width: auto;
}

#main-container {
  max-width: 600px;
}

#infiniscroll {
  height: 100px;
}


.col {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

@include media-breakpoint-up(xl) {
  app-leaderboard, app-your-posts-card {
    width: 300px;
  }

  #main-container {
    max-width: inherit;
  }

  #spinner {
    width: 600px;
  }


  #your-posts-div {
    margin: 0;
  }

  .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}
