@import 'src/styles.scss';


app-leaderboard, app-your-posts-card {
  width: auto;
}

#your-posts-div {
  margin: 0.3rem 0;
}




@include media-breakpoint-up(xl) {
  app-leaderboard, app-your-posts-card {
    width: 300px;
  }

  #your-posts-div {
    margin: 0;
  }

}
