@import 'src/styles.scss';

#create-post-backdrop {
  background: #000;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 100;
  animation: myFadeIn 0.5s;
}

@-webkit-keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@-webkit-keyframes myFadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

@keyframes myFadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}


app-create-post-dummy {
  position: relative;
}

app-leaderboard, app-your-posts-card {
  width: auto;
}

#your-posts-div {
  margin: 0.3rem 0;
}

.row {
  max-width: 600px;
}

#spinner {
  width: auto;
}

#main-container {
  max-width: 600px;
}

#middle-section  {
  max-width: 600px;
}


app-forum-post-card, app-create-post-dummy, app-forum-post-card, app-create-post-dummy {
  width: 100%;
}

#infiniscroll, #end-message {
  height: 300px;
}


.col {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

@include media-breakpoint-up(xl) {
  app-leaderboard {
    width: 280px;
  }

  #your-posts-div {
    max-width: 350px;
  }

  app-forum-post-card, app-create-post-dummy {
    max-width: 600px;
    min-width: 500px;
  }

  #main-container {
    max-width: inherit;
  }

  #spinner {
    width: auto;
  }


  #your-posts-div {
    margin: 0;
  }

  .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}
