<div class="d-flex flex-column justify-content-center align-items-center h-100">

  <div id="create-post-backdrop"
       (click)="removeFocusOnCreatePost()"></div>

  <app-forum-bar (sortBySelected)="freshFetchBy($event)"
                 class="align-self-stretch"></app-forum-bar>

  <div id="main-container"
       class="d-flex flex-xl-row flex-column justify-content-xl-center justify-content-start mt-2 mb-5  flex-grow-1 flex-grow-xl-0">

    <div class="p-2 order-xl-1 order-1">
      <app-leaderboard></app-leaderboard>
    </div>


    <div class="order-xl-2 order-3 mx-4"
         id="middle-section">

      <div class="mb-3 mt-2">
        <app-create-post-dummy (click)="focusOnCreatePost()" [showWithInitialContents]="createPostActiveOnInit"></app-create-post-dummy>
      </div>

      <div style="height: 8px"></div>

      <div *ngFor="let post of forumPosts"
           class="my-4">
        <app-forum-post-card [post]="post"></app-forum-post-card>
      </div>


      <div *ngIf="!fetchedAll"
           id="infiniscroll"
           infiniteScroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="100"
           (scrolled)="fetchMorePosts()">
        <div id="spinner"
             *ngIf="fetching"
             class="d-flex justify-content-center align-items-center my-4">
          <app-spinner [color]="'#007bff'"></app-spinner>
        </div>
      </div>

      <div *ngIf="fetchedAll"
           class="text-muted text-center my-5">
        You've reached the end! There are no more posts...
      </div>
    </div>




    <div id="your-posts-div"
         class="p-2 order-xl-2 order-2">
      <app-your-posts-card></app-your-posts-card>
    </div>


  </div>
</div>
