<div class="mainContainer">
  <div class="d-flex flex-column align-items-center h-100">

    <app-avatar-component [borderActive]="true" [borderColor]="'grey'" [size]="3" class="m-4"></app-avatar-component>
    <app-points-badge [amount]="123" class="points-badge"></app-points-badge>

    <h3 class="p-2">User name</h3>


    <div class="card-deck mt-3">
      <div class="card btn btn-outline-primary border-primary" [routerLink]="['/profile', 'checklist']">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="m-0">Checklist</h5>
          <fa-icon icon="tasks" class="large-icon"></fa-icon>
        </div>
      </div>

      <div class="card btn btn-outline-primary border-primary" data-toggle="modal" data-target="#achievements-modal">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="m-0">Achievements</h5>
          <fa-icon icon="trophy" class="large-icon"></fa-icon>
        </div>
      </div>

    </div>


    <h5 class="mt-4">Earned points distribution</h5>
    <div class="list-group m-0">
      <div class="list-group-item d-flex flex-row">
        From checklist
        <app-points-badge [amount]="89" class="ml-auto"></app-points-badge>
      </div>
      <div class="list-group-item d-flex flex-row">
        Home page interaction
        <app-points-badge [amount]="10" class="ml-auto"></app-points-badge>
      </div>
      <div class="list-group-item d-flex flex-row">
        Explore page interaction
        <app-points-badge [amount]="16" class="ml-auto"></app-points-badge>
      </div>
      <div class="list-group-item d-flex flex-row">
        Forum page interaction
        <app-points-badge [amount]="8" class="ml-auto"></app-points-badge>
      </div>
    </div>


    <button class="mt-auto mb-4 btn btn-outline-secondary" (click)="onLogout()">
      Log out
    </button>

  </div>
</div>


<div class="modal fade mt-5" id="checklist-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-checklist></app-checklist>
    </div>
  </div>
</div>


<div class="modal fade mt-5" id="achievements-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-achievements></app-achievements>
    </div>
  </div>
</div>
