  <div id="card"
       class="shadow bg-white rounded">

    <div class="chartcard-title">
      <h5 class="card-title font-weight-light">Create a post</h5>
    </div>


    <form [formGroup]="newPostForm"
          (ngSubmit)="submitNewPost()">
      <div class="chartcard-body d-flex flex-column">


        <!-- UPLOAD PICTURE -->
        <input type="file"
               name="file"
               id="file-input"
               class="inputfile" />

        <button id="add-img-btn"
                type="button"
                class="ml-auto btn btn-sm btn-outline-primary d-flex align-items-center"
                (click)="openFileExplorer()">
          <fa-icon id="plus-icon"
                   icon="plus"></fa-icon>
          <fa-icon icon="image"></fa-icon>
        </button>

        <div *ngIf="chosenPictureFileSrc !== ''"
             class="d-flex justify-content-center">

          <div class="position-relative">
            <fa-icon id="remove-img-icon"
                     icon="times-circle"
                     (click)="removeImg()"></fa-icon>
            <img [src]="chosenPictureFileSrc"
                 class="img-fluid my-2 ml-auto">
          </div>
        </div>


        <!-- POST TITLE & CONTENT INPUT -->
        <div class="form-group">
          <label for="titleInput">Post title</label>
          <input class="form-control"
                 [class.invalid]="!newPostForm.valid && newPostForm.value.title === '' && newPostForm.controls['title'].touched"
                 id="titleInput"
                 formControlName="title">
        </div>

        <div class="form-group">
          <div class="d-flex flex-row">
            <label for="titleInput">Categories</label>
            <div class="dropdown ml-auto">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown">
                Add categories
              </button>
              <div class="dropdown-menu">
                <button *ngFor="let catOption of possibleCategories"
                        class="dropdown-item"
                        [class.active]="isSelected(catOption)"
                        type="button"
                        (click)="toggleCategory(catOption)">{{ catOption }}</button>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row">
            <app-post-category-badge *ngFor="let cat of selectedCategories"
                                     [category]="cat"
                                     style="cursor: pointer;"
                                     (click)="removeSelectedCategory(cat)"></app-post-category-badge>
          </div>
        </div>



        <div class="form-group">
          <label for="contentInput">Post content</label>
          <textarea class="form-control"
                    [class.invalid]="!newPostForm.valid && newPostForm.value.content === '' && newPostForm.controls['content'].touched"
                    id="contentInput"
                    formControlName="content"
                    rows="2"></textarea>
        </div>

        <div class="d-flex flex-row">
          <button type="button"
                  class="btn btn-outline-danger ml-auto mr-2"
                  (click)="clearPost()">Clear</button>
          <button type="submit"
                  class="btn btn-primary">Submit post</button>
        </div>

      </div>


    </form>


  </div>
