@import 'src/styles.scss';

#card {
  width: 600px;
  position: relative;
  z-index: 200;
}

@include media-breakpoint-down(lg) {
  #card {
    width: inherit
  }
}

#plus-icon {
  font-size: 0.6rem;
  margin-right: 3px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#remove-img-icon {
  position: absolute;
  right: 4px;
  top: 8px;
  cursor: pointer;
  color: $danger;
}

#remove-img-icon:hover {
  opacity: 0.5;
}



.invalid {
  border-color: #dc3545;
}

.invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}


.dropdown-item {
  background-color: #fff;
  color: #16181b;
  fa-icon {
    color: #16181b;
  }
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-item:focus {
  color: #16181b;
  font-weight: 600;
}

.activeItemSelected {
  background-color: $primary-lighter;
}
