<div id="card"
     class="shadow bg-white rounded">

  <div *ngIf="isXLScreen"
       class="chartcard-title d-flex flex-row align-items-center">
    <h5 class="card-title font-weight-light">Leaderboard</h5>
    <fa-icon icon="info-circle"
             class="ml-auto mr-3"
             (mouseenter)="showTooltip()"
             (mouseleave)="hideTooltip()"
             style="font-size: 1.2em;"></fa-icon>
  </div>

  <div *ngIf="isXLScreen"
       class="chartcard-body">
    <ng-container *ngTemplateOutlet="leaderboard"></ng-container>
  </div>



  <div *ngIf="!isXLScreen"
       class="d-flex flex-row align-items-center chartcard-title pl-3"
       data-toggle="collapse"
       data-target="#leaderboard-body"
       (click)="isToggledOpen = !isToggledOpen"
       [style.cursor]="'pointer'">
    <fa-icon *ngIf="!isToggledOpen"
             icon="chevron-down"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <fa-icon *ngIf="isToggledOpen"
             icon="chevron-up"
             data-toggle="collapse"
             data-target="#leaderboard-body"
             (click)="isToggledOpen = !isToggledOpen"></fa-icon>
    <h5 class="card-title font-weight-light">Leaderboard</h5>
    <fa-icon icon="info-circle"
             class="ml-auto mr-3"
             style="font-size: 1.2em;"
             (mouseenter)="showTooltip()"
             (mouseleave)="hideTooltip()"></fa-icon>
  </div>

  <div *ngIf="!isXLScreen"
       id="leaderboard-body"
       class="chartcard-body collapse">
    <ng-container *ngTemplateOutlet="leaderboard"></ng-container>
  </div>


</div>


<ng-template #leaderboard>
  <table class="table">
    <thead>
      <tr class="d-flex">
        <th scope="col"
            class="col-2">#</th>
        <th scope="col"
            class="col-4">Score</th>
        <th scope="col"
            class="col-6">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of ranking; let i = index"
          class="d-flex"
          [class.table-primary]="isCurrentUser(user.uid)">
        <th scope="row"
            class="col-2">{{ i + 1 }}</th>
        <td class="col-4">{{ user.score }}</td>
        <td class="col-6">
          {{ user.name }}
          <fa-icon *ngIf="isPreviousWinner(user.uid)"
                   icon="crown"
                   style="color: #ffc107"
                   class="ml-2"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>



<span id="leaderboard-tooltip"
      *ngIf="tooltipShown"
      class="rounded bg-white border">
  <div class="card-header p-1">
    How do the points work?
  </div>
  <div class="p-1 d-flex flex-column">
    You can earn points by:
    <ul>
      <li><b>Interacting</b> with the dashboard <b>daily</b></li>
      <li>Being active on the discussion board: <b>posting, liking, commenting</b></li>
      <li>Checking items in your <b>checklist</b> for sustainable actions you did</li>
      <li>Just by <b>using the dashboard</b>, like exploring the data in the explore page</li>
    </ul>
    <span>Each week the scores will reset.</span>
    The winner of the previous week receives a crown in the leaderboard for the whole week.
  </div>
</span>
