<div class="card">
  <div class="card-title m-0 p-2">
    <h3 class="m-0">Leaderboard</h3>
  </div>
  <div class="p-2">
    <table class="table table-hover">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="col-2">#</th>
          <th scope="col" class="col-4">Score</th>
          <th scope="col" class="col-6">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" class="d-flex">
          <th scope="row" class="col-2">{{ i }}</th>
          <td class="col-4">{{ user.score }}</td>
          <td class="col-6">{{ user.name }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
