@import 'src/styles.scss';


fa-icon {
  font-size: 32px;
  color: $primary;
}

.card-header {
  background-color: $secondary;
  color: $primary;
  font-weight: 600;
  border-width: 0;
}

.card-header:hover {
  background-color: $secondary-lighter;
}

.container {
  h1 {
    color: $primary;
  }

  p {
    color: $primary;
  }
}
