@import 'src/styles.scss';


fa-icon {
  font-size: 32px;
  color: $secondary;
}

.card-header {
  background-color: $primary-lighter;
  color: $secondary;
  font-weight: 600;
  border-width: 0;
}

.card-header:hover {
  background-color: #fffb81;
}

.container {
  h1 {
    color: $light;
  }

  p {
    color: $light;
  }
}

a {
  color: $dark;
  font-weight: 600;
}

a:hover {
  color: $dark;
  opacity: 0.8;
}
