<div class="shadow bg-white rounded d-flex flex-column">
  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">Achievements</h5>
  </div>

  <div class="chartcard-body flex-grow-1">
    <p class="m-3 mb-4">Achievements are bonus points you cn get one time only. They might just be enough to make you
      win the current week!</p>
    <hr class="m-0">
    <div class="list-group list-group-flush">

      <div *ngFor="let achievement of achievements"
           class="list-group-item d-flex flex-row">
        <span class="mr-2"><s *ngIf="achievement.earned">{{ achievement.name }}</s><span
                *ngIf="!achievement.earned">{{ achievement.name }}</span></span>
        <div class="ml-auto d-flex flex-column align-items-center">
          <app-points-badge [amount]="achievement.nbPoints"
                            [color]="achievement.earned ? 'dark' : 'unchecked'"></app-points-badge>
          <small *ngIf="achievement.earned"
                 class="m-0 text-muted">
            {{ achievement.date }}
          </small>
        </div>
      </div>

    </div>
  </div>
</div>
