<div class="shadow bg-white rounded d-flex flex-column">
  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">Achievements</h5>
  </div>

  <div class="chartcard-body flex-grow-1">
    <p class="m-3 mb-4">Achievements are bonus points you cn get one time only. They might just be enough to make you win the current week!</p>
    <hr class="m-0">
    <div class="list-group list-group-flush">

      <div *ngFor="let achievement of achievements"
           class="list-group-item d-flex flex-row">
        {{ achievement.name }}
        <app-points-badge [amount]="achievement.nbPoints"
                          [color]="achievement.earned ? 'dark' : 'unchecked'"
                          class="ml-auto"></app-points-badge>
      </div>

    </div>
  </div>
</div>
