<div class="btn-group-fab"
     [class.active]="open"
     role="group">
  <div>
    <button type="button"
            class="btn btn-main btn-primary has-tooltip"
            data-placement="left"
            (click)="toggle()"
            [title]="mainButtonName">
      <fa-icon [icon]="mainButton"></fa-icon>
    </button>
    <button *ngFor="let btnIcon of subButtonIcons; let i = index"
            type="button"
            class="btn btn-sub btn-info has-tooltip"
            data-placement="left"
            [title]="subButtonNames[i]"
            (click)="onClick(i)">
      <fa-icon [icon]="btnIcon"></fa-icon>
    </button>
  </div>
