@import 'src/styles.scss';

:host {
  width: 100%
}

.wrapper {
  width: inherit;
}


#spinner {
  height: 331px;
}

#add-chart-btn {
  fa-icon {
    color: #007bff;
    transition: color .15s ease-in-out;
  }
}

#add-chart-btn:hover {
  fa-icon {
    color: white;
  }
}


.hidden {
  display: none;
}

app-floating-action-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
