@import 'src/styles.scss';

:host {
  width: 100%
}

.wrapper {
  width: inherit;
}

#add-chart-btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

#add-chart-btn {
  fa-icon {
    color: $secondary;
  }
}


.blur-content {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  opacity: 0.2;
}


.hidden {
  display: none;
}

app-floating-action-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
