<div class="border-bottom border-left-0 border-right-0 border-top-0"
     id="toggle-div"
     data-toggle="collapse"
     [attr.data-target]="'#collapseable' + id"
     (click)="isOpened = !isOpened">
  <fa-icon *ngIf="!isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-up"></fa-icon>
  Statistics
</div>

<div class="collapse"
     [id]="'collapseable' + id">
  <div class="card-body">

    <div class="w-100 d-flex flex-row align-items-center justify-content-center my-5"
         *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>


    <div class="row"
         [class.hidden]="isLoading">
      <div class="col-lg-6 col-12">

        <div *ngIf="dataIsUnavailable"
             class="d-flex justify-content-center align-items-center h-100">
          Data is unavailable
        </div>

        <table *ngIf="!dataIsUnavailable"
               class="table table-sm">
          <thead>
            <tr>
              <th scope="col"
                  class="w-50">Statistic</th>
              <th scope="col"
                  class="w-50">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Total average usage</th>
              <td>{{ totalAvg }} kWh</td>
            </tr>
            <tr>
              <th scope="row">Total average weekday usage</th>
              <td>{{ weekdayAvg }} kWh</td>
            </tr>
            <tr>
              <th scope="row">Maximum</th>
              <td>{{ maxVal }} kWh, on {{ maxDay }}</td>
            </tr>
            <tr>
              <th scope="row">Minimum</th>
              <td>{{ minVal }} kWh, on {{ minDay }}</td>
            </tr>
            <tr>
              <th scope="row">Number of days without data</th>
              <td>{{ nbNoDataDays }} days</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6 col-12 position-relative">
        <apx-chart #chart
                   [class.hidden]="isLoading"
                   [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [colors]="chartOptions.colors"
                   [dataLabels]="chartOptions.dataLabels"
                   [grid]="chartOptions.grid"
                   [plotOptions]="chartOptions.plotOptions"
                   [yaxis]="chartOptions.yaxis"
                   [xaxis]="chartOptions.xaxis"
                   [title]="chartOptions.title"
                   [tooltip]="chartOptions.tooltip"
                   [legend]="chartOptions.legend"
                   [noData]="chartOptions.noData"></apx-chart>

        <div id="stats-tooltip"
             class="mr-3">
          <app-info-hover [id]="'explore-4-stats-bar-chart'"
                          [offsetY]="20"
                          [iconClass]="'large-info'"
                          [tooltipTitle]="'What do I see here?'">
            <div class="d-flex flex-column p-2">
              <span>This chart shows the <b>same statistics from the left table</b>.</span>
              <span>You can edit the timeframe via the button in the top right.</span>
              <hr class="m-2">
              <div class="extra-info-tooltip">
                <span>A Watt hour (Wh) is a unit of energy, which tells us about the amount of
                  work that has been done by some devices.</span>
                <span>A kWh or kilo Watt hour is just 1000 Watt hours. Watt hours refer to enegy used /
                  work done for some time period.</span>
                <span>For example: a 60 Watt lightbulb that is on for 1 hour will consume 60 Wh = 0.06 kWh of
                  energy.</span>
              </div>
            </div>
          </app-info-hover>
        </div>
      </div>
    </div>





  </div>
</div>
