<div class="border-bottom border-left-0 border-right-0 border-top-0"
     id="toggle-div"
     data-toggle="collapse"
     [attr.data-target]="'#collapseable' + id"
     (click)="isOpened = !isOpened">
  <fa-icon *ngIf="!isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-down"></fa-icon>
  <fa-icon *ngIf="isOpened"
           class="mr-2"
           data-toggle="collapse"
           [attr.data-target]="'#collapseable' + id"
           icon="chevron-up"></fa-icon>
  Statistics
</div>

<div class="collapse"
     [id]="'collapseable' + id">
  <div class="card-body">

    <p *ngIf="false"
       class="m-0 text-muted">Data is unavailable</p>

    <div class="row">
      <div class="col-lg-6 col-12">
        <table *ngIf="true"
               class="table table-sm">
          <thead>
            <tr>
              <th scope="col"
                  class="w-50">Statistic</th>
              <th scope="col"
                  class="w-50">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Total average usage</th>
              <td>{{ totalAvg }} kWh</td>
            </tr>
            <tr>
              <th scope="row">Total average weekday usage</th>
              <td>{{ weekdayAvg }} kWh</td>
            </tr>
            <tr>
              <th scope="row">Maximum</th>
              <td>{{ maxVal }} kWh, on {{ maxDay }}</td>
            </tr>
            <tr>
              <th scope="row">Minimum</th>
              <td>{{ minVal }} kWh, on {{ minDay }}</td>
            </tr>
            <tr>
              <th scope="row">Number of days without data</th>
              <td>{{ nbNoDataDays }} days</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6 col-12">
        <apx-chart #chart
        [class.hidden]="isLoading"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
        [tooltip]="chartOptions.tooltip"
        [legend]="chartOptions.legend"
        [noData]="chartOptions.noData"></apx-chart>
      </div>
    </div>





  </div>
</div>
