@import 'src/styles.scss';

img {
  border-radius: 50%;
}

.border-active {
  border-width: 4px;
  border-style: solid;
}

.border-gold {
  border-color: gold;
}

.border-silver {
  border-color: silver;
}

.border-bronze {
  border-color: #cd7f32;
}

.border-grey {
  border-color: $medium-grey;
}

.border-gray {
  border-color: $medium-grey;
}


.size-extra-small {
  width: 30px;
  height: auto;
}

.size-small {
  width: 36px;
  height: auto;
}

.size-medium {
  width: 64px;
  height: auto;
}

.size-large {
  width: 100px;
  height: auto;
}

.size-extra-large {
  width: 128px;
  height: auto;
}
