<div class="shadow bg-white rounded d-flex flex-column">
  <div class="chartcard-title d-flex align-items-center">
    <h5 class="card-title font-weight-light">How you earned your 170 points</h5>
    <div class="ml-auto mr-3">
      <app-info-hover [id]="'checklist-points'"
                      [offsetY]="20"
                      [iconClass]="'large-primary'"
                      [tooltipTitle]="'How do the points work?'">
        <div class="d-flex flex-column p-2">
          You can earn points by:
          <ul>
            <li><b>Interacting</b> with the dashboard <b>daily</b></li>
            <li>Being active on the discussion board: <b>posting, liking, commenting</b></li>
            <li>Checking items in your <b>checklist</b> for sustainable actions you did</li>
            <li>Just by <b>using the dashboard</b>, like exploring the data in the explore page</li>
            <li>Scoring one time only bonus points via <b>achievements</b></li>
          </ul>
          <span>Each week the scores will reset.</span>
          The winner of the previous week receives a crown in the leaderboard for the whole week.
        </div>
      </app-info-hover>
    </div>
  </div>

  <div class="chartcard-body flex-grow-1">
    <apx-chart #chart
               [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [dataLabels]="chartOptions.dataLabels"
               [stroke]="chartOptions.stroke"
               [legend]="chartOptions.legend"
               [colors]="chartOptions.colors"
               [plotOptions]="chartOptions.plotOptions"
               [yaxis]="chartOptions.yaxis"
               [xaxis]="chartOptions.xaxis"
               [noData]="chartOptions.noData"
               [tooltip]="chartOptions.tooltip"></apx-chart>
  </div>
</div>
