<div id="tip"
     *ngIf="show"
     class="rounded shadow-lg px-3 py-2 d-flex flex-row align-items-center bg-white border-info">
  <fa-icon [icon]="tip.icon"
           class="mr-2"></fa-icon>
  <p class="m-0">
    {{ tip.tipName }}
  </p>

  <button id="checklist-btn"
          class="btn btn-outline-info p-0 mx-2"
          (click)="openChecklist()">
    <fa-icon id="checklist-btn-icon"
             icon="tasks"
             class="p-1"></fa-icon>
    <app-points-badge [amount]="tip.points"
                      [color]="'info'"
                      class="mx-1">
                    </app-points-badge>
  </button>

  <button type="button"
          class="ml-2 close d-flex flex-column justify-content-center align-items-center"
          (click)="close()">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
