@import 'src/styles.scss';

#tip {
  position: absolute;
  top: 60px;
  right: 22px;
  z-index: 1000;
  border-width: 3px;
  border-style: solid;
}

.close {
  font-size: 1.25rem;
}


#checklist-btn > fa-icon {
  color: $primary;
}


#checklist-btn:hover > fa-icon {
  color: $light;
  transition: color .15s ease-in-out;
}
